<div class="custom-dashboard-panel medium-panel">
   <div class="dashboard-panel-main-holder">
      <div class="dashboard-panel-header-holder">
         <div>
            <div id="chartSummaryTitleLabel"></div>
         </div>
      </div>
      <div class="dashboard-panel-body-holder">
         <div>
            <div id="auditSummaryChart"></div>
            <!-- <div id="auditSummaryDetailsForm" class="form-filter-holder">
               <div class="form-filter-holder-content">
                  <div class="form-filter-header">
                     Summary Details
                  </div>
                  <div class="form-filter-body">
                     <div id="auditSummaryDetails"></div>
                  </div>
                  <div class="form-filter-footer">                  
                     <button id="btnCloseDetails" class="button btn btn-close">Close</button>
                  </div>
               </div>
            </div> -->
         </div>
      </div>
      <div class="dashboard-panel-footer-holder">&nbsp;</div>
   </div>
   <div class="form-filter-holder" id="chartLoadingMessage">
      <div class="form-filter-holder-content">
         <img src="../../../../applib/css/images/acuity-loading.gif" height="50px" alt="Loading details">
         Loading chart detail information...
      </div>
   </div>
</div>
