<div class="custom-dashboard-panel auditor-login-panel">
   <div class="dashboard-panel-main-holder">
      <div class="dashboard-panel-header-holder">
         <div>Auditor Logins</div>
      </div>
      <div class="dashboard-panel-body-holder">
         <div id="auditorLoginList"></div>
      </div>
      <div class="dashboard-panel-footer-holder"></div>
   </div>
   <div id="auditorLoginDetailPanel" class="form-filter-holder">
      <div class="form-filter-holder-content">
         <div class="display-details-header-holder">
            <div class="header-close-button-holder"><button class="button btn btn-close">X</button></div>
            <div class="display-details-header">
               <h1>Auditor Login Details <span id="loginDetailsForLabel"></span></h1>
            </div>
         </div>
         <div class="display-details-body-holder">
            <div class="display-details-body">
               <div id="auditorLoginDetailInformation"></div>
            </div>
         </div>
         <div class="display-details-footer-holder">
            <div class="display-details-footer">
               <div class="footer-button-holder">
                  <button class="button btn btn-close">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>