<div id="complaianceDashboardDetailsDirectiveHolder" class="form-filter-holder">
   <div class="form-filter-holder-content">
      <div class="display-details-header-holder">
         <div class="header-close-button-holder"><button class="button btn btn-close">X</button></div>
         <div class="display-details-header">
            <h1 id="detailsTypeHeaderText"></h1>
         </div>
      </div>
      <div class="display-details-body-holder">
         <div class="display-details-body">
            <div id="detailsItemsListHolder" class="detail-item-listing"></div>
         </div>
      </div>
      <div class="display-details-footer-holder">
         <div class="display-details-footer">
            <div class="footer-button-holder">
               <button class="button btn btn-close">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>