<div class="custom-dashboard-panel failrate-panel">
   <div class="dashboard-panel-main-holder">
      <div class="dashboard-panel-header-holder">
         <div>
            <div id="chartSummaryTitleLabel">Fail Rate By Location</div>
         </div>
      </div>
      <div class="dashboard-panel-body-holder">
         <div>
            <div id="failRateChart"></div>
         </div>
      </div>
      <div class="dashboard-panel-footer-holder">&nbsp;</div>
   </div>
   <div class="form-filter-holder" id="chartLoadingMessage">
      <div class="form-filter-holder-content">
         <img src="../../../../applib/css/images/acuity-loading.gif" height="50px" alt="Loading details">
         Loading chart detail information...
      </div>
   </div>
</div>
