<div class="custom-dashboard-panel small-panel">
   <div class="dashboard-panel-main-holder ">
      <div class="dashboard-panel-header-holder">&nbsp;</div>
      <div class="dashboard-panel-body-holder">
         <div id="totalAuditsFoundCount" class="dashboard-display-count-item">--</div>
         <div id="averageAuditsPerDayHolder" class="dashboard-display-audits-per-day"><span id="lblAveragePerDay" class="audits-per-day-data-label"></span> Average Per Day</div>
         <div id="averagePerDayStatsHolder" class="dashboard-inline-pop-up-holder">
            <div>Number of days in calculation: <span id="lblDaysInCalculation"></span></div>
            <div>Start Date: <span id="lblStartDateInCalculation"></span></div>
            <div>End Date: <span id="lblEndDateInCalculation"></span></div>
         </div>
      </div>
      <div class="dashboard-panel-footer-holder">
         <div>
            Audits
         </div>
      </div>
   </div>
</div>