<div class="user-prize-ledger-module-holder">
   <div class="user-prize-ledger-header-holder">
      <div class="user-prize-ledger-list-row header-row">
         <div class="user-prize-ledger-item header-item date-earned">Date</div>
         <div class="user-prize-ledger-item header-item earned-type">Earned Type</div>
         <div class="user-prize-ledger-item header-item points-earned">Points</div>
         <div class="user-prize-ledger-item header-item points-multiplier">Multiplier</div>
         <div class="user-prize-ledger-item header-item total-points-earned">Total</div>
      </div>
   </div>
   <div class="user-prize-ledger-body-holder">
      <div id="userPrizeLedgerList" class="user-prize-ledger-list-holder"></div>
   </div>
   <div class="user-prize-ledger-footer-holder"></div><div>
      <div id="userPrizeLedgerTotal" class="user-prize-ledger-total-holder"></div>
   </div>
</div>