<div class="user-redeemed-prizes-module-holder">
   <div class="user-redeemed-prizes-filter-holder">
      <div class="user-redeemed-prizes-previous-button-holder hide">
         <button id="btnPreviousUserEarnedPage" class="user-redeemed-prizes-header-button previous-button">Previous</button>
      </div>
      <div class="user-redeemed-prizes-center-filter-holder center-filter-holder">
         <div class="user-redeemed-prizes-filter-options">
            <!-- <select id="userEarnedDisplay_ThemeFilter"></select> -->
         </div>
         <div class="user-redeemed-prizes-filter-options">
            <div class="user-redeemed-prizes-filter-label">Display:</div>
            <input type="radio" name="userEarnedDisplay_DisplayType" value="grid" checked> Grid
            <input type="radio" name="userEarnedDisplay_DisplayType" value="slider"> Slider
         </div>
      </div>
      <div class="user-redeemed-prizes-next-button-holder hide">
         <button id="btnNextUserEarnedPage" class="user-redeemed-prizes-header-button next-button">Next</button>
      </div>
   </div>
   <div class="user-redeemed-prizes-display-holder">
      <div class="user-redeemed-prizes-body-holder">
         <div id="userPrizeRedeemedList" class="user-redeemed-prizes-listing"></div>
      </div>
   </div>
   <div class="user-redeemed-prizes-footer-holder">
      &nbsp;
   </div>
</div>