<div class="flex-game-top-level-holder">
   <div class="header-title">
      <div class="flex-game-display-options-buttons">
         <a class="flex-manual-entry-add-new achievements-link">Add New Scoring Area</a>
      </div>
      <a class="flex-manual-entry-btn-return-game-list">« Back to Games</a>
      <h2>Manual Entry Scoring Area Manager</h2>
      <div class="flex-game-user-status"></div>
      <div class="flex-game-filter-nav-holder">
         &nbsp;
      </div>
   </div>
   <div class="flex-manual-entry-manager-holder">      
      <div class="flex-manual-entry-manager-list"></div>
      <div class="flex-manual-entry-footer-options">
         &nbsp;
      </div>
   </div>
   <!--EDITOR FORM-->
   <div class="flex-manual-entry-form-editor-holder">
      <button class="flex-manual-entry-editor-button-cancel flex-game-form-btn-close"><i class="fas fa-times"
            aria-hidden="true"></i></button>
      <div class="flex-manual-entry-editor-header">
         <div class="flex-manual-entry-editor-header-label">
            Manual Scoring Area Manager
         </div>
         <hr>
      </div>
      <div >
         <div class="flex-manual-entry-scoring-area-edit-container">
            <label>Name</label>
            <input type="text" class="flex-manual-entry-scoring-area-edit-name" placeholder="Scoring Area Name">
         </div>
         <div class="flex-manual-entry-scoring-area-edit-container">
            <label>Status</label>
            <input type="checkbox" class="flex-manual-entry-scoring-area-is-active" checked> <label class="edit-item-status-displayname">Active</label>
         </div>
         <div class="flex-manual-entry-scoring-area-edit-footer">
            <div>
               <button class="flex-manual-entry-scoring-area-edit-form-btn-save">Save</button>
               &nbsp;
               <button class="flex-manual-entry-scoring-area-edit-form-btn-cancel flex-manual-entry-editor-button-cancel">Cancel</button>
            </div>
            <input type="hidden" id="flex-manual-entry-scoring-area-id" value="-1" />
         </div>
      </div>
   </div>
</div>