<div>
  <h2>A-GAME Flex FAQs</h2>
</div>
<div class="faq-content-popup-holder">
  <div class="col1of2">
    <div>
      <h4>Table of Contents</h4>
      <ul>
        <li><a href="#gameType">Game Type</a></li>
        <li><a href="#gameStatus">Game Status</a></li>
        <li><a href="#leaderboardFinishLine">Leaderboard vs. Finish Line vs. Phrase</a></li>
        <li><a href="#scoringBasis">Scoring Basis</a></li>
        <li><a href="#scoringType">Scoring Type</a></li>
        <li><a href="#supervisor">Supervisor</a></li>
        <li><a href="#scoringInfo">Scoring/Points</a></li>
      </ul>
    </div>
  </div>
  <div class="col2of2">
    <p>&nbsp;</p>
    <hr>
    <h3 id="leaderboardFinishLine">Leaderboard vs. Finish Line vs. Phrase</h3>    
    <p>
      Information coming soon.
    </p>
    <h3>Current Themes</h3>
    <ul>
      <li>A-GAME Goalz</li>      
      <li>A-GAME Gridiron</li>      
      <li>A-GAME Hoops</li>      
      <li>Alien Attack</li>      
      <li>Autumn Fest</li>
      <li>Circus</li>      
      <li>Donut Shop</li>            
      <li>Halloween Night</li>      
      <li>Pizza Party</li>      
      <li>Race Cars</li>      
      <li>Tiki Beach</li>      
      <li>Under The Sea</li>
      <li>WinterFest</li>      
      <li>Wizard</li>
    </ul>
    <hr>
    <h3 id="scoringBasis">Scoring Basis</h3>
    <h4>Acuity vs. Custom</h4>
    <p>
      Determins the number points that will be awared for the game.
    </p>
    <hr>
    <h3 id="scoringType">Scoring Type</h3>
    <h4>Standard vs. Scored</h4>
    <p>
      Scoring types that are available for the game.
    </p>
    <hr>
    <h3 id="gameType">Game Type</h3>    
    <p>
      Current Type of game that is being played.
      <ul>
        <li>Agent Battle</li>
        <li>Team Battle</li>
      </ul>
    </p>
    <hr>
    <h3 id="gameStatus">Game Status</h3>
    <p>
     Current Status of the game.
    </p>
    <hr>
    <h3 id="supervisor">Supervisor</h3>
    <p>
     Individual in charge of the game.
    </p>
    <h3 id="scoringInfo">Scoring/Points</h3>
    <h4>Avg. Points Per Player, Avg. Score</h4>
    <p>
      <b>Avg. Points Per Player</b>: The average points that each 
      player is contributing to the total points scored for a game.
      Points can be scored on a daily basis, so it it possible that
      a single individual can average more than the maximum points
      possible for a single day. This calculation is determined by 
      the current points total (Points) for the game divided by 
      Number of Players on the team (# of Players).
      <div>Avg. Points Per Player = Points / # of Players</div>
    </p>
    <p>
      <b>Avg. Score</b>: The average score for the players that have
      any score for the scoring metric.      
    </p>
    
  </div>
</div>
