<link rel="stylesheet" href="/applib/css/xTremeOwnersRanking.css?r=4" />
<div class="xo-fine-print" id="leaderboardRankingRulesHolder">
   <div class="centered" style="display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #ddd;">
      <h2>
         <b>Power Rank Leaderboard</b>
      </h2>
      <button class="button-close-rules"><i class="fa-solid fa-xmark"></i> Close</button>
   </div>
   <p>
      Alongside the A-GAME Leagues tournament, you're competing against other 
      Team Leaders based on four fun factors - measured in aggregate, as the 
      Power Rank. Following is a description of each element and how it's scored:
   </p>
   <ul>
      <li>
         <b>Agent Rating:</b> Every week, player/agents rate leader performance on a scale of
         <b>1</b> to <b>5</b> stars. Requests for ratings are delivered to 
         agents at 5pm every Wednesday and the deadline to rate for the current 
         matchup is 5pm the following Monday. Scores will not update based on ratings 
         received after expiration! You gain a point for every star collected - up to 
         <b>60</b> points possible every week. <b><i></i>Pro tip:</i></b> Encourage your players to 
         check their Acuity inbox, exercise their voice, and submit their weekly ratings.
      </li>
      <li>
         <b>Attrition:</b> Each member of your team that attrits scores <b>-30</b> points. 
         <b><i></i>Pro tip:</i></b> Engage with your players. Let them know you see them, 
         support them, and care. They'll appreciate it and be much more likely to stick around.
      </li>
      <li>
         <b>Engagement:</b> Select your starting lineup <span style="text-decoration: underline;">yourself</span> =  <b>+30</b> points. 
         Or use auto-pick = <b>-10</b>.  <b><i></i>Pro tip:</i></b> Select your starting lineup 
         manually - each week! Research indicates team performance averages 18% better when you do.
      </li>
     
      <li>
         <b>Game Score:</b> The total points your team scores in each week's matchup are added to your total. 
         <b><i></i>Pro tip:</i></b> consistently and creatively motivate and cheer your team to win!
      </li>
   </ul>

   <div class="centered">
      <p>
         Scoring is updated in real-time as actions occur or as team scores refresh. 
         Power Rank is calculated during the regular season only (points do not 
         accumulate during the post-season).
      </p>
      <p>
         <b>Bring your A-GAME, scale that leaderboard, and revel in Power Rank glory!</b>
      </p>
   </div>
   <div class="centered">
      <p>
         <button class="button-close-rules">Close</button>
      </p>
   </div>

</div>
<div class="xtremeOwners-container">
   
   <div class="xtremeOwners-top-btns">
      <!-- <button id="btnLoad">Load</button> -->

      <button id="btnReload"><i class="fa fa-refresh"></i> Refresh</button>
      <!-- Display:
      <select id="displayType">
         <option value="OVERALL">Overall</option>
         <option value="DIVISION">By Division/League</option>
      </select> -->

      <button id="btnRulesDisplay">Power Rank Rules</button>
   
   </div>
   
   <div id="xTremeRankingsHolder" class="xTremeRankingsHolder">
      <div id="leaderboardHolderListing"></div>
   </div>
</div>