.draft-wrapper
{
    position: relative;
    height: -moz-calc(100vh - 95px);
    height: -webkid-calc(100vh - 95px);
    height: calc(100vh - 95px);
    overflow: scroll;
}

.draft-wrapper h1
{
    color: Red;
}

.draft-desc
{
    font-size: 10px;
    position: relative;
    padding: 10px;
    min-height: 100px;
    border: 1px solid #cccccc;
    margin: 5px;
    display: block;
    min-width: 300px;
    /*line-height: 20px;*/
}

.draft-desc p
{
    margin-top:0px;
    margin-bottom:0px;
}


.draft-desc-name
{
    font-size: 20px;
}

.draft-prompt
{
    background-color: darkgray;
    color:White;
    font-weight:bold;
    position: relative;
    padding: 10px;
    border: 1px solid #cccccc;
    margin: 5px;
    display: block;
    min-width: 300px;
    /*line-height: 20px;*/
}

.draft-desc-begintime
{
}
.draft-desc-mock
{
}

.draft-pending
{
    position: relative;
    background-color: Red;
    padding: 2px 10px 2px 10px;
    z-index: 100;
    font-weight:bold;
    color: White;
}


.draft-opp-table td
{
    text-align: center;
}

.draftOppInit td,.draftOppInit th
{
    color: lightgray;
}


.draft-detail-wrapper
{
    position: relative;
    margin: 5px;
    width: 300px;
    min-height: 150px;
    border: 1px solid #cccccc;
}

.draft-detail,.draft-detail-prompt
{
    padding: 20px;
}

.draft-detail-prompt
{
    font-weight:bold;
    color: Red;
    text-align: center;
}

.draft-detail-wrapper label
{
    font-weight: bold;
}

.draft-detail-buttons
{
    position: relative;
}




.draft-table-q-wrapper
{
    position: relative;
    margin: 5px;
    min-width: 300px;
    overflow-y: scroll;
    border: 1px solid #cccccc;
}

.draft-q-save
{
    cursor: pointer;
    text-decoration: underline;
    font-size: 10px;
    position: absolute;
    right: 110px;
    top: 4px;
}

.draft-q-saved
{
    display:none;
    font-size: 10px;
    color: Blue;
    position: absolute;
    right: 10px;
    top: 4px;
}

.draft-q-uid
{
    display: none;
}


.draft-table-wrapper
{
    position: relative;
    border: 1px solid #cccccc;
    overflow-y: scroll;
    padding: 10px;
    height: calc(100vh - 270px);
}

.draft-table-menu-player,.draft-table-menu-teams,.draft-table-menu-results
{
    position: relative;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    padding: 0 100px 0 100px;
    text-decoration: underline;
}

.draft-table-drafted-wrapper label,.draft-table-q-wrapper label,.draft-opp-wrapper label
{
    font-weight: bold;
}

.draft-table,.draft-table-drafted
{
    margin-top: 15px;
}

.draft-table th,.draft-table td,.draft-table-drafted th,.draft-table-drafted td
{
    padding: 0 5px 0 5px;
}


.draft-selected-uid
{
    display: none;
}

.draft-obs-select-wrapper
{
    display:none;
    position: relative;
    margin: 5px;
    padding: 10px;
    width: 110px;
    height: 130px;
    border: 1px solid #cccccc;
}

.draft-obs-wrapper
{
    display:none;
    position: relative;
    margin: 0px;
    overflow-y: scroll;
    height: auto;
}

.draft-obs-select-wrapper label
{
    font-size: 10px;
    padding-left: 5px;
    vertical-align: middle;
}

.draft-detail-highlight
{
    background-color: orange;
}

.draft-table td,.draft-table-q td
{
    cursor: pointer;
}

.draft-q-remove
{
    cursor: pointer;
    color: Gray;
    padding: 3px;
    width: 2px;
}

.centered
{
    text-align: center;
}

.menu-disabled
{
    color: lightgray;
    cursor: auto;
}

.draft-opp-table-body tr td
{
    cursor: pointer;
}

.draft-desc-closetime
{
    font-weight: bold;
    color: Red;
}

table
{
    width: 100%;
}
table th
{
    padding-right: 10px;
}

table td, table th
{
    font-size: 12px;
    text-align: center;
}

.draft-team-table-header
{
    padding: 15px;
}

.draft-q-up,.draft-q-down
{
    padding-left: 3px;
    padding-right: 3px;
    width: 2px;
}

.draft-table-menu
{
    
}

.menu-disabled
{
    color: lightgray;
    cursor: auto;
}

.draft-table th,.draft-table-drafted th,.draft-team-table th,.final-team-table th
{
    padding-bottom: 4px;
    cursor: pointer;
}

.pickmethod-desc
{
    line-height: 12px;
}