:root {
    --brand-blue: #009ad9;
    --brand-blue-hover: #006d99;
    --background-gray: #EBF0F5;
    --lighter-gray: #f4f4f4;
    --light-gray: #eee;
    --inactive-tab: #c9cfd3;
    --gray: #666;
    --phrase-active-color: #09A6B8;
    --border-color: #999;
    --border-color-light: #ddd;
    --table-topper-color: #1e3248;
    --countdown-timer-bg: #1A2C39;
    --red: #b00303;
    --red-hover: #800303;
    --highlight: #009ad9;
    --highlightborder: #fff;
    --green: #32ab0a;
    --bright-green: #6CD124;
    --green-hover: #207704;
    --table-topper: #1F2B39;
    --table-labels: #BBC8D4;
    --brand-dark-blue: #00699C;
    --teal: #1BB895;
    --slate: #405362;
    --light-blue: #EBF0F5;
    --border-color-gray: #d6d6d6;
    --yellow: #FFCC00;
    --dark-gray: #353535;
    --font-color: #000;
    --error-bg:#ffcbcb;
    --light-yellow: #f3fcd9;
    --priority-bar: #792cd7;
    --bubble-color1: #6E73BA;
    --bubble-color2: #05BDA4;
    --bubble-color3: #B076BA;
    --bubble-color4: #5493BA;
    --bubble-color5: #E28862;
    --prize-body-bg: #EBF0F4;
    --bronze: #cea464;
    --ai-color: #544ec5;
    --human-color: #E28862;
    --autoqa-overall-color: #405362;
    --light-background:#e5e9eb;
}