<form name="changePasswordForm" ng-submit="submitPasswordChange(changePasswordForm.$valid)" novalidate>
  <div class="err-container" ng-show="error">
    <p class="err-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</p>
  </div>
  <div class="acuity-form-group">
    <span id="pwrd_current_lbl" runat="server">Current Password: </span>
    <input
      type="password"
      ng-model="creds.currentPassword"
      name="currentPassword"
      id="pwrd_current_txt"
      class="acuity-form-input"
      placeholder="Password"
      required
    />
    <div ng-show="changePasswordForm.$submitted && changePasswordForm.currentPassword.$invalid">
      <div ng-show="changePasswordForm.currentPassword.$error.required" class="err-message-inline">Please enter your
        current password
      </div>
    </div>
  </div>

  <div class="acuity-form-group">
    <span id="pwrd_new_1_lbl" runat="server">New Password: </span>
    <input
      type="password"
      ng-model="creds.newPassword1"
      name="newPassword1"
      id="pwrd_new_1_txt"
      class="acuity-form-input"
      placeholder="Password"
      required
      original-password="creds.currentPassword"
      password-strength="score"
    />

    <meter max="4" id="password-strength-meter" value="{{ score }}" ng-show="score !== undefined"></meter>

    <div ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword1.$invalid">
      <div ng-show="changePasswordForm.newPassword1.$error.required" class="err-message-inline">Please enter a new
        password
      </div>
      <div ng-show="changePasswordForm.newPassword1.$error.passwordStrength" class="err-message-inline">Please enter a
        stronger password
      </div>
      <div ng-show="changePasswordForm.newPassword1.$error.passwordMismatch" class="err-message-inline">Passwords do not
        match
      </div>
      <div ng-show="changePasswordForm.newPassword1.$error.originalPassword" class="err-message-inline">New password
        must not be the same as the old password
      </div>
    </div>

    <p id="password-strength-text" ng-bind-html="scoreText"></p>

  </div>

  <div class="acuity-form-group">
    <span id="pwrd_new_2_lbl" runat="server">Repeat New Password: </span>
    <input
      type="password"
      ng-model="creds.newPassword2"
      name="newPassword2"
      id="pwrd_new_2_txt"
      class="acuity-form-input"
      placeholder="Password"
      required
      password-verify="creds.newPassword1"
    />
    <div ng-show="changePasswordForm.$submitted && changePasswordForm.newPassword2.$invalid">
      <div ng-show="changePasswordForm.newPassword2.$error.required" class="err-message-inline">Please repeat your new
        password
      </div>
      <div ng-show="changePasswordForm.newPassword2.$error.passwordMismatch" class="err-message-inline">Passwords do not
        match
      </div>
    </div>
  </div>
  <div class="acuity-form-group">
    <input
      type="submit"
      id="passwordChange"
      class="acuity-form-input btn-blue"
      value="Change Password"
      ng-disabled="changePasswordForm.$submitted && changePasswordForm.$invalid"
    />
    <p class="text-center">
      <a
        ng-show="canSkipPasswordReset"
        ng-click="skipPasswordChange()"
        href="#"
      >
        Change password later
      </a>
    </p>
  </div>
</form>