body[ng-controller="sideperfController"] {
  overflow: auto;
}
body[ng-controller="sideperfController"] #side-perf-shell {
  position: relative;
  padding: 1em;
}
body[ng-controller="sideperfController"] #side-perf-shell .modal-underlay {
  position: absolute;
  z-index: 9990;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.66);
  display: block;
}
body[ng-controller="sideperfController"] #side-perf-shell .modal-wrapper {
  position: fixed;
  max-height: calc(100% - 100px);
  z-index: 9991;
  padding: 1em 2em 2em;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body[ng-controller="sideperfController"] #side-perf-shell .modal-wrapper .btn-modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
}
body[ng-controller="sideperfController"] #side-perf-shell .modal-wrapper .btn-modal-close .fa {
  font-size: 24px;
}
body[ng-controller="sideperfController"] .ui-timepicker-container {
  width: auto !important;
}
body[ng-controller="sideperfController"] .ui-timepicker-container .ui-timepicker .ui-timepicker-viewport .ui-menu-item {
  text-align: left;
}
