body {
	background: #fff;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;f
	font-size: 10pt;
	color: #000;
	overflow: hidden;
}

.app-drp
{
    display: inline-block;
    line-height: 16px;
    width: 16px;
    cursor:pointer;
    margin-left: 4px;
    margin-top: -5px;
    background: url(images/calendar-icon-white.png) no-repeat center top;    
}

.tooltip-sidebar
{
    font-size: 14px;
    /*background-color: orange;*/
    color: Black;
    border-width: 0px;
    max-width: 500px;
    text-align: center;
}

.ui-tooltip-content
{
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    background-color: #FBD249;
    border-width: 0px;
    font-weight: bold;
    color: Black;
}

.tooltip-text
{
    display:block;
    text-align: center;
    line-height: 16px;
    background-color: Red;
}

.gradient-light
{
    background: lightgray;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#959595));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #F9F9F9, #959595);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#959595);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#95959595)";
}

.gradient-lightest
{
    background: lightgray;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#959595));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #F9F9F9, #959595);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#D0D0D0);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#D0D0D0)";
}

#loading
{
    display:block;
    text-align:center;
    margin-top: 200px;
}

.header
{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 65px;
    overflow: visible;
}

.logo
{
    position: absolute;
    left: 4px;
    margin: 0;
	padding: 0;
    top: -10px;
    height: 65px;
	width: 300px;
	background-image: url(images/Acuity_5c_Right_crop.png);
	background-repeat: no-repeat;
}

.logo h1 {
	display: none;
}

.heading
{
    position: absolute;
    left: 290px;
    top: 40px;
    margin: 0;
	padding: 0;
	width: 300px;
	height: 65px;
	font-size: 16px;
	font-weight: bold;
}

.header-tile,.app-header-tile
{
    margin-top: 17px;
    position: relative;
    float: right;
    padding:  0 10px 0 10px;
    z-index: 100;
}

.header-tile a,.app-header-tile a
{
    color: Black;
    text-decoration: none;
}

.content
{
    position:relative;
    margin-top: 0px;
}

.leftpanel
{
    /*
    position:relative;
    margin-top: 6px;
    */
    position:absolute;
    top: 4px;
    left: 0px;
    overflow-y: scroll;
    overflow-x: visible;
    border-top: 1px solid black;
    width: 300px;
    height: 100%;
    background: lightgray;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#959595), to(#F9F9F9));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #959595, #F9F9F9);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#909095, endColorstr=#FFFFFF);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AAAAAA, endColorstr=#DDDDDD)";

}

.tabs
{
    position:absolute;
    top:1px;
    left:280px;
    border-width:0px;
    z-index: 0;
}


.stg-iphoneswitch
{
    position:absolute;
    left: 0px;
    top: 0px;
    height: 27px;
    width: 150px;
    background: url(images/itoggle.png) no-repeat;
    background-attachment:top left;
    background-position: 0px -28px; /* ON - move to -50px -28px for OFF */
}

.jtoggle-wrapper
{
    position: relative;
    height: 27px;
    width: 94px;
    overflow: hidden;
    cursor: pointer;
}

.jtoggle-shell
{
    background: transparent url(images/itoggle.png) no-repeat top left;
    height: 27px;
    width: 94px;
}

.tabarea
{
    position: relative;
    overflow-y: auto;
}

.ui-tabs-nav
{
    color: Red;
}

.admin-editing-wrapper
{
    position:absolute;
    top:10px;
    right:5px;
}

.stg-field
{
    padding: 5px 0 0 0;
    clear: both;
}

.stg-field label
{
    float:left;
    padding: 3px 3px 0 0;
}

.stg-field > label > span
{
    font-weight: bold;
    padding-left: 4px;
    float: right;
}

.stg-field span
{
    float:left;
}

.spinner
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}
.spinner input
{
    padding: 0;
    margin: 0;
    font-size: .45em;
    border-width: .5px;
    height: 1.5em;
    width: 2em;
}

.message-preview
{
    position: absolute;
    top: 0px;
    margin: 100px auto 0 auto;
    height:600px;
    width: 600px;
    text-align:left;
    padding: 5px 25px 0 25px;
    background-color: White;
    border: 3px solid gray;
    z-index: 100000;
}

.message-scroll
{
    position:relative;
    z-index: 100000;
}
.admin-alertblock
{
    padding-bottom: 10px;
}

.admin-alert
{
    padding-bottom: 20px;
}

.headericon-agame
{
    position:relative;
    height: 40px;
    width: 70px;
    float: left;
    margin-top: -4px;
    margin-right: -10px;
    cursor:pointer;
    margin-right: 20px;
 	background: url(images/Football-Icon-40px.png) no-repeat;
    font-size: 9px;
    color: Yellow;
    text-align: center;
}

.headericon-agame-gamestatus
{
    position: relative;
    margin-top: 7px;
    width: 100%;
    display: none;
}

.headericon-agame-gamescore
{
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: none;
}



.headericon-message
{
    position:relative;
    height: 40px;
    width: 60px;
    float: left;
    margin-top: 1px;
    cursor:pointer;
    margin-right: 20px;
 	background: url(images/env_gray2.png) no-repeat;
}


.headericon-graph
{
    position:relative;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 1px;
    cursor:pointer;
 	background: url(images/abcgraph.png) no-repeat;
}

.headericon-chat
{
    position: relative;
    height: 40px;
    width: 35px;
    float: left;
    margin-right: 20px;
    margin-top: -1px;
    cursor:pointer;
 	background: url(images/chatBubble.png) no-repeat;
}

.headericon-reload
{
    position: relative;
    height: 40px;
    width: 35px;
    float: left;
    margin-right: 20px;
    margin-top: 2px;
    cursor:pointer;
 	background: url(images/icon-reload.gif) no-repeat;
}

.headericon-import
{
    position: relative;
    height: 40px;
    width: 35px;
    float: left;
    margin-right: 20px;
    margin-top: -4px;
    cursor:pointer;
 	background: url(images/import.png) no-repeat;
}

.messages-badge-unread
{
    position: absolute;
    top: -5px;
    right: -3px;
    color:White;
    background-color: Black;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px;
    padding: 0 4px 0 4px;
}

.messages-badge-incomplete
{
    position: absolute;
    top: 15px;
    right: -3px;
    color:White;
    background-color: Red;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px;
    padding: 0 4px 0 4px;
}


.window-close
{
    position: absolute;
    top: 3px;
    right: 5px;
    text-decoration: none;
    color: Black;
    font-weight: bold;
}

.chat-beep-icon
{
    position: absolute;
    top: 7px;
    right: 8px;
    font-size: 12px;
    font-weight:bold;
    background-color:Red;
    padding: 0 3px 0 3px;
    color: White;
}

.chat-save
{
    position: absolute;
    top: 5px;
    right: 170px;
    color: Black;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
    cursor:pointer;
    display:none;
}

.chat-refresh
{
    position: absolute;
    top: 5px;
    right: 90px;
    font-size: 12px;
    text-decoration: underline;
    color: Black;
    cursor:pointer;
    font-weight: bold;
}


.chat-mute
{
    position: absolute;
    top: 1px;
    right: 30px;
    color: Black;
    font-weight: normal;
    font-size: 12px;
    padding-left: 8px;
    vertical-align: middle;
}

.chat-mute input
{
    position:relative;
    padding-top: 4px;
}

.chat-timestamp
{
    font-size: 14px;
    display:block;
    text-align: center;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #606060;
}

.chat-stats
{
    position: absolute;
    top: 3px;
    right: 90px;
    text-decoration: none;
    color: Black;
    font-size: 14px;
}

.chat-window
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 500px;
    border: 4px solid #D3344A;
    -moz-border-radius: 2px;
    background-color:White;
    border-radius: 2px;
}

.chat-label
{
    position: relative;
    margin: 3px;
    width: 230px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    height: 20px;
    overflow:hidden;
}


.chat-select
{
    clear:both;
    position:relative;
    width: 290px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
}

.chat-parties
{
    position:relative;
    width: 290px;
}


.chat-area
{
    position:relative;
    width: 290px;
    height: 240px;
    overflow-y: scroll;
    background-color: #e0e0e0;
    padding-left: 5px;
}

.chat-send
{
    position:relative;
    width: 290px;
    height: 30px;
    background-color: White;
    font-weight: bold;
    padding-top: 4px;
    margin: 3px;
    margin-left: 5px;
}

.chat-send input
{
    border-width: 0px;
    height: 20px;
    font-size: 16px;
}

.poll-suspend
{
    color:White;
    background-color:Red;
    display:block;
    text-align: center;
    width: auto;
}

.infoclick
{
    padding-left: 15px;
    text-decoration:underline;
    color:green;
}

.app-heading-mobile
{
    left: 120px;
}

.app-logo-mobile
{
    display: none;
}
