.right {
    float: right;
}

.left {
    float: left;
}
.angular-main-item-holder
{
    text-align:center;
}
.control-header
{    5
    position: absolute;
    top:0;
    left:0;
    width:99vw;
    font-weight:bold;        
    background-color:lightcyan;
    max-height:5vh;
    min-height:5vh;
    height:5vh;
}
.add-new-btn
{
    font-size:normal !important;  
}
.control-body
{
    position: relative;    
    top:5vh;
    left:0;
    height:90vh;
    max-height:90vh;
    min-height:90vh;
    overflow: auto;
    width:99vw;
}
.control-footer
{
    max-height:2vh;
    min-height:2vh;
    height:2vh;
    position: absolute;
    bottom:0vh;
    left:0;
    background-color:hotpink;
    width:99vw;
}

.control-name {
    text-align:left !important;
    position:relative;
    top:1px;
    left:1px;
    font-size:1.5em !important;
}
.admin-panel {
    border: 1px solid skyblue;
    background-color: darkblue;
    padding: 10px;
    color: skyblue;
    position: fixed;
    bottom: 15px;
    right: 50px;
    z-index: 9999999999;
    text-align: center;
    vertical-align: middle;
    max-height: 33vh;
    min-height: 25vh;
    max-width: 25vw;
    min-width: 25vw;
    overflow-y: auto;
    opacity: .75;
}

.admin-btn {
    background: teal !important;
    color: darkblue !important;
    border: 1px solid darkblue !important;
    border-radius: 2px;
}

.admin-status-output {
    color: lime;
    background-color: black;
    border: 1px solid darkgray;
    text-align: left;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8pt;
    overflow: auto;
    min-height: 15vh;
    max-height: 15vh;
}
.user-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9) url('../images/blue-loading.gif') center 18% no-repeat;
    color: #000;
    z-index: 500000000000;
    text-align: center;
    padding-top: 20%;
    font-size: 30px;
    background-size: 50px;
}

.list-item-button
{
    display:inline-block;
    position: relative;
    right:0;
    text-align:right;
}
.theme-list-holder
{
    max-height:90%;
    min-height:90%;
    overflow:auto;
}
[class*='-list-item-holder'] {
    text-align: left;
    margin:5px 3px;    
    border:1px solid black;
    border-radius: 5px;
    background-color:lightgray;
    max-width: 49%;
    width:49%;
    min-width:49%;    
    display:inline-block;
    vertical-align: text-top;
}

.theme-list-item-holder
{
    margin-top:5px;
    margin-bottom:5px;
    width:99%;
}
.theme-list-item-button-holder
{    
    display:inline-block;
    position: relative;
    right:0;
    text-align:right;
}
.theme-list-item-name
{
    display:inline-block;
}
.theme-list-item-finish-type
{
    display:inline-block;
}

.config-parameter-display-list-item-holder
{
    min-height:30px;
    vertical-align: middle;
    padding-top:2px;
    padding-bottom:2px;
}
DIV[class^='config-parameter-item-']
{
    /* border:1px dashed black; */
}
.config-parameter-item-name
{
    font-weight:bold;
    display:inline-block;
    width:25vw;    
}
.config-parameter-item-value
{
    display:inline-block;
    width:5vw;    
}
.config-parameter-item-desc
{
    display:inline-block;    
    width:50vw;
}
.config-parameter-item-regex
{
    display:inline-block;
    width:10vw;    
}
.config-parameter-editor-holder
{
    border:1px solid purple;
    position:absolute;
    top:3vh;
    left:3vw;
    width:50vw;
    height:25vh;
    z-index:100000;
    background-color:white;
    color:black;
}
.config-parameter-form-holder
{
    text-align:left !important;
}
.config-parameter-form-label
{
    display: inline-block;
    width:10vw;
    min-width:10vw;    
    font-weight:bold;
}

.all-steps-progress-holder
{
    width:99%;
    border:1px solid black;
}
.setup-account-step
{    
    border:1px solid purple;
    display:inline-block;
    background:#cecece;
    padding:2px;
}
.setup-step-complete
{
    background-color: black !important;
    color:white !important;
}
.base-form-holder
{
    border:1px solid lime;
    background:lightgray;
    margin:10px;
}
.sign-up-wizard-footer div
{
    display:inline-block;
    border:1px solid hotpink;
    background-color:plum;
}
.col1of2
{
    display:inline-block;
    width:49%;
}
.col2of2
{
    display:inline-block;
    width:49%;
}
.theme-list-item-board-image
{
    min-height:50px;
    max-height:50px;
    min-width:50px;
    max-width:100px;
    display:inline-block;
}