.blocker {
  z-index: 9998 !important;
}

.button-large {
  font-size: 125%;
}

.modal a.close-modal {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #0078AA;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -o-border-radius: 26px;
  -ms-border-radius: 26px;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-image: none !important;
  overflow: hidden;
}

.modal a.close-modal:before {
  content: "\2716";
  display: block;
  width: 30px;
  height: 30px;
  text-indent: 0;
  line-height: 30px;
  font-size: 1.333em;
  font-weight: bold;
}

.blocker {
  z-index: 9998 !important;
}

.modal a.close-modal {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #0078AA;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -o-border-radius: 26px;
  -ms-border-radius: 26px;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-image: none !important;
  overflow: hidden;
}

.modal a.close-modal:before {
  content: "\2716";
  display: block;
  width: 30px;
  height: 30px;
  text-indent: 0;
  line-height: 30px;
  font-size: 1.333em;
  font-weight: bold;
}

.dialog-confirm-modal, .delete-confirm-modal {
  z-index: 9999 !important;
}

.dialog-confirm-modal button, .delete-confirm-modal button {
  background-color: rgba(0, 120, 231, 0.666) !important;
}

.dialog-confirm-modal button:hover, .dialog-confirm-modal button:focus, .delete-confirm-modal button:hover, .delete-confirm-modal button:focus {
  background-color: #0078e7 !important;
}

.ui-widget-overlay {
  z-index: 9998 !important;
  opacity: .666;
}

#listMessages #rowAdd {
  text-align: right;
  padding: .83em 0;
}

#listMessages #rowAdd #btnAddMessage {
  font-weight: bold;
  margin-top: 3px;
}

#listMessages #change-list {
  font-size: 85%;
  text-align: center;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.05);
}

#listMessages #change-list p, #listMessages #change-list button {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

#listMessages #change-list p:not(#msg-warning) {
  font-size: 110%;
}

#listMessages #change-list .button-warning {
  color: #fff;
  font-weight: bold;
  background-color: #f0ad4e;
  margin-left: 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.333);
}

#listMessages #change-list #msg-warning {
  margin: 0;
  display: block;
}

#listMessages #change-list #msg-warning i {
  color: #f0ad4e;
}

#listMessages #rowListMessages ul li {
  margin-top: 1em;
  padding-top: 2em;
}

#listMessages #rowListMessages ul li:first-child {
  margin-top: 0;
  padding-top: 0;
}

#listMessages #rowListMessages ul li .renderedMessage {
  padding: 0em 1em;
  display: block;
  border: 1px solid #969696;
}

#listMessages #rowListMessages ul li .btnsEditDelete {
  padding: 1em 0;
  text-align: right;
}

#listMessages #rowListMessages ul li.zero-records {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

#listMessages #rowListMessages ul li.zero-records > p {
  margin-top: 0;
  font-size: 1.2em;
}

#listMessages #rowListMessages ul li.zero-records #user-lists {
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  padding: 0 .5em;
}

#listMessages #rowListMessages ul li.zero-records #user-lists .user-list {
  padding-bottom: 2.5em;
}

#listMessages #rowListMessages ul li.zero-records #user-lists .user-list .wrapper {
  position: relative;
  height: 100%;
  margin: 0 .5em;
  background: rgba(255, 255, 255, 0.666);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  padding: .5em;
  padding-bottom: 1.1em;
}

#listMessages #rowListMessages ul li.zero-records #user-lists .user-list .wrapper .header {
  font-weight: bold;
}

#listMessages #rowListMessages ul li.zero-records #user-lists .user-list .wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#listMessages #rowListMessages ul li.zero-records #user-lists .user-list .wrapper ul li {
  padding: 0;
  margin: .5em 0;
  text-align: left;
}

#listMessages #rowListMessages ul li.zero-records #user-lists .user-list .wrapper #btnAddMessage {
  position: absolute;
  right: .5em;
  bottom: .5em;
  left: .5em;
}

#formAddEdit .close-modal {
  display: none;
}

#formAddEdit .pure-g h2 {
  letter-spacing: 0;
}

#formAddEdit .pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#formAddEdit .pure-g .one-box {
  padding: .75em 0;
}

#formAddEdit .pure-g #roleSelect {
  width: 100%;
  /* overflow: hidden; */
}

#formAddEdit .pure-g #roleSelect option {
  padding: .5em;
}

#formAddEdit .pure-g .notes {
  width: 100%;
}

#formAddEdit .pure-g .buttons {
  text-align: right;
}

#formAddEdit label {
  font-weight: bold;
}

#formAddEdit label span {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}