.discussion-wrapper 
{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 43px;
}


.discussion_img {
    background: #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin: 5px;
    text-align: center;
    display:inline-block;
}

.discussion_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.discussion-messages
{
    height: 400px;
    width: 100%;
    overflow-y: auto;    
}
.discussion-message {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;
    line-height: 19px;
}
.discussion-timestamp {
    font-size: 12px;
    font-style: italic;
    color: #6e7f91;
}

.discussion-you 
{
    padding-right:10px;
    text-align: right;
    margin-bottom: 20px;
}

.discussion-you .discussion-textblock
{
    display: inline-block;
    position: relative;
    top: 9px;
    margin-right: 10px;
    max-width: 70%;
    vertical-align: top;
}
.discussion-you img
{
    display:inline-block;
}


.discussion-others
{
    padding-left: 10px;
    text-align: left;
    margin-bottom: 20px;
}
.discussion-others .discussion-textblock
{
    display:inline-block;
}
.discussion-others img
{
    display:inline-block;
}

.discussion-entry
{
    vertical-align: middle;
    width: 100%;
    background: #1f2b38;
    display: flex;
    margin-top: 10px;
    margin-bottom: -14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.discussion-entry input {
    width: 92%;
    padding: 12px;
    margin: 11px;
    flex: 1;
    border: 0;
    font-size: 14px;
}
.discussion-entry .discussion_img {
    float: right;
    margin: 5px 10px;
    margin-top: 11px;
    margin-right: 17px;
}
.discussion-participants {
    text-align: right;
    position: absolute;
    top: -13px;
    right: 0;
    width: 100%;
    background: #eee;
    max-height: 50px;
    overflow-y: auto;
}
.discussion-others .discussion-textblock {
    display: inline-block;
    position: relative;
    top: 7px;
    vertical-align: top;
    max-width: 70%;
}
.discussion-others .discussion_img {
    margin-right: 14px;
}
.discussion_img {
    height: 40px;
    width: 40px;
    margin: 5px;
}
.discussion-participants p {
    float: left;
    margin: 14px 10px;
    font-size: 19px;
}
.discussion-you .discussion-message {
    background: #048BC3;
    color: white;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}