<div class="auto-qa-detail-display-directive-holder">
   <div class="auto-qa-detail-display-holder">
      <div class="auto-qa-detail-display-header">
         <div class="directive-title-holder">
            Details
         </div>
         <div id="directiveLoading" class="directive-loading-information-holder">
            <img alt="Details Loading" class="directive-information-loading-image" >
         </div>  
         <input type="hidden" id="currentSortValue" style="width:50px;">
         <input type="hidden" id="currentSortOrder" style="width:50px;">
         <button id="btnRefreshDetails" class="directive-refresh-button"><i class="fa fa-refresh"></i> Load & Refresh Details</button>
      </div>
      <div class="auto-qa-detail-display-body">
         <div id="autoQaDetailDisplayHolder">
            <div id="autoQaDetailsDisplay" style="font-size: 11px;text-align: center;"></div>
         </div>
      </div>
      <div class="auto-qa-detail-display-footer">
         <span id="directiveTimeFrame"></span>
      </div>
   </div>
</div>