<div class="full-window-popup" id="sqfComparisonHolderPopupPanel">
  <div class="pop-up-holder">
    <div class="popup-header">
      <h4>QM Comparison Tool</h4>
      <button class="button btn btn-close">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div>
      <div
        id="comparisonToolOverallLoadingPanel"
        class="auto-qa-dashboard-loading-panel"
      >
        <img
          src="../../../applib/css/images/acuity-loading.gif"
          height="50px"
        />
        Loading information...
      </div>
      <!-- <div class="filters-holder">
        Monitor: <select></select>
        &nbsp; Response Sample: <select id="filterOptionsResponseSample"></select>
        &nbsp; Monitor For: <select></select>
        &nbsp;<select></select>
        &nbsp;&nbsp;
        <div class="header-filter-button-holder">
          <button id="btnApplyFilter">Apply Filter</button>
          &nbsp;
          <button id="btnClearFilter">Clear Filter</button>
        </div>
      </div> -->
      <div
        id="sqfCodeOverallInformationHolder"
        class="sqf-code-information-comparison-holder"
      >
        <h3><label id="currentMonitorLoadedNameLabel"></label> Stats</h3>
        <div class="sqf-code-information-stats">
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              Current Monitor Status:
            </div>
            <div
              class="sqf-code-information-stat-data"
              id="lblMonitorStatusData"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              All-time Monitor Entries:
            </div>
            <div
              class="sqf-code-information-stat-data"
              id="lblAllTimeMonitorsEntered"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              Entries Per Timeframe:
            </div>
            <div
              class="sqf-code-information-stat-data"
              id="lblTotalMonitorsInTimeframe"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              Most Recent Monitor Entry Date:
            </div>
            <div
              class="sqf-code-information-stat-data"
              id="lblMonitorRecentEntryDate"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              All-time Entries - Team members:
            </div>
            <div
              class="sqf-code-information-stat-data"
              id="lblManualEntryMonitorCount"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              &nbsp;
            </div>
            <div
              class="sqf-code-information-stat-data"
            >&nbsp;</div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              First Monitor Entry Date:
            </div>
            <div
              class="sqf-code-information-stat-data"
              id="lblMonitorFirstEntryDate"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              All-time Entries - AI:</div>
            <div
              class="sqf-code-information-stat-data"
              id="lblAiEntryMonitorCount"
            ></div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              &nbsp;
            </div>
            <div
              class="sqf-code-information-stat-data"
            >&nbsp;</div>
          </div>
          <div class="sqf-code-information-stat-holder">
            <div class="sqf-code-information-stat-data-label">
              &nbsp;
            </div>
            <div
              class="sqf-code-information-stat-data"
            >&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

    <div class="popup-body">
      <div id="monitorQuestionComparisonListHolder"></div>
    </div>

    <div class="popup-footer">
      <button class="button btn-large btn btn-close">Close</button>
    </div>
  </div>
  <div
    class="monitor-listing-display-popup-holder"
    id="sqfComparisonMonitorListDisplayPanel"
  >
    <div class="monitor-listing-display-holder">
      <div>
        <button class="button btn btn-close-monitor-list">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div>
        <div id="comparisonToolMonitorLoadingPanel" class="auto-qa-dashboard-loading-panel">
          <img src="../../../applib/css/images/acuity-loading.gif" height="50px"/>
          Loading information...
        </div>
        <div id="monitorListingBreadcrumbs"></div>      
        <div class="monitor-detail-listing-display-holder">
          <div class="question-rationale-section-holder">
            <div id="reasonSuggestionsInformationHolder"></div>
          </div>
          
          <div class="monitor-detail-listing-header-holder">
            <div
              class="monitor-history-information-row data-detail-table-header-row header-row"
            >
              <div class="data-detail-column monitor-link header-item">
                Monitor ID
              </div>
              <div class="data-detail-column monitor-enter-date header-item">
                Monitor Enter Date
              </div>
              <div class="data-detail-column monitor-score header-item">
                Score
              </div>
              <div class="data-detail-column agent-name header-item">Agent</div>
              <div class="data-detail-column evaluator-name header-item">
                Evaluator
              </div>
              <div class="data-detail-column call-date header-item">
                Call Date
              </div>
              <div class="data-detail-column call-id header-item">Call Id</div>
            </div>
          </div>
          <div class="monitor-detail-listing-body-holder">
            <div id="monitorListingHolder"></div>
          </div>
          <div class="monitor-detail-listing-footer-holder">
            &nbsp;
            <!-- <div>
              <div class="inline-item">
                <span id="monitorListingRecordCountDisplay"></span>
              </div>
              <div class="inline-item">
                <div class="inline-item">
                  Items Per page 
                  <select id="monitorListingPerPageItemCount">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                  </select>
                </div>
                &nbsp;
                <div class="inline-item">
                  <span>&lt;</span>
                  &nbsp;
                  <span>Page <input type="text" id="txtMonitorListingCurrentPageNumber" size="5"> of <label id="lblMonitorListingTotalPages"></label></span>
                  &nbsp;
                  <span>&gt;</span>  
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div>
        <button class="button btn btn-close-monitor-list">Close</button>
      </div>
    </div>
  </div>
</div>
