<div class="monitor-score-directive-holder">
  <div class="monitor-score-display-holder">
    <div class="monitor-score-display-header">
      <div id="monitorQualityScoreTypeLabel" class="inline-item"></div>
      Avg. Monitor Score
    </div>
    <div class="monitor-score-display-body">
      <div>
        <div id="averageMonitorScore"></div>
      </div>
      <div class="secondary-display">
        <div
          class="secondary-display-inline-text"
          id="averageDaysToMonitor"
        ></div>
        Average Days to Monitor
      </div>
    </div>
    <div class="monitor-score-display-footer">
      <span id="directiveTimeFrame"></span>
    </div>
  </div>
</div>
