<div class="pass-fail-directive-holder">
   <div class="pass-fail-display-holder">
      <div class="pass-fail-display-header">
         <div class="directive-header-column1">
            <div>
               <button id="btnRefreshPassFail" class="directive-refresh-button"><i class="fa fa-refresh"></i></button>
            </div>
         </div>
         <div class="directive-header-column2">
            <div class="directive-title-holder">
               Pass/Fail
            </div>   
         </div>
         <div class="directive-header-column3">
            <div id="directiveLoading" class="directive-loading-information-holder">
               <img alt="Pass Fail Loading" class="directive-information-loading-image" >
            </div>   
         </div>
      </div>
      <div class="pass-fail-display-body">
         <div class="chart-holder">
            <div id="passFailChart" class="pass-fail-chart-container"></div>
         </div>
      </div>
      <div class="pass-fail-display-footer">
         <span id="directiveTimeFrame"></span>
      </div>
   </div>
</div>