<div class="total-monitor-count-directive-holder">
   <div class="total-monitor-count-display-holder">
      <div class="total-monitor-count-display-header">
         Total Monitors
      </div>
      <div class="total-monitor-count-display-body">
         <div style="line-height: 36px;">
            <div class="total-monitors-count" id="totalMonitorsCount"></div>
            <div class="todays-monitors" id="monitorsCountToday">0</div>
         </div>
         <div class="secondary-display">
            <div class="secondary-display-inline-text" id="monitorsPerDay"></div> Monitors Per Day
         </div>
      </div>
      <div class="total-monitor-count-display-footer">
         <span id="directiveTimeFrame"></span>
      </div>
   </div>
</div>