<div class="total-call-count-directive-holder">
   <div class="total-call-count-display-holder">
      <div class="total-call-count-display-header">
         Total Calls
      </div>
      <div class="total-call-count-display-body">
         <div>
            <div id="totalCallsCount"></div>
         </div>
         <div class="secondary-display">
            <div class="secondary-display-inline-text" id="callsPerDay"></div> Calls Per Day
         </div>
      </div>
      <div class="total-call-count-display-footer">
         <span id="directiveTimeFrame"></span>
      </div>
   </div>
</div>