
@mixin border-radius {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}
@mixin border-radius-custom($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.45);
}
@mixin custom-dropshadow($opacity) {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,$opacity);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,$opacity);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,$opacity);
}
@mixin circle($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  overflow: hidden;
}
@mixin blue-btn-hover {
  &:hover {
    background: darken($brand-blue, 10%);
  }
}
@mixin primary-link-color {
  color: $brand-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: darken($brand-blue, 10%);
  }
}
@mixin tab-content-spacing {
  background: $background-blue !important;
  padding: 35px !important;
}
@mixin table-topper {
  background: $table-topper-color;
  padding: 15px;
  margin: 0;
  position: relative;
  -webkit-border-top-left-radius: $border-radius;
  -webkit-border-top-right-radius: $border-radius;
  -moz-border-radius-topleft: $border-radius;
  -moz-border-radius-topright: $border-radius;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: #fff;
  font-size: 14px;

  p {
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
  }
}
@mixin leaderboard-flex {
  position: absolute;
  border-top: 1px solid #DCDDDE;
  border-bottom: 1px solid #DCDDDE;
  font-size:16px;
  font-weight: normal;
  text-align: center;
  padding: 8px 0;
}
@mixin alert-number {
  @include circle(20px);
  text-align: center;
  margin-right: 0;
  float: right;
  color: #fff;
  background-color: $alert-red;
  border: 0;
  padding: 5px 6px;
  font-size: 13px;
  font-weight: bold;
  margin-top: -4px;
}
@mixin avatar-circle($img-size) {
  @include circle(50%);
  width: $img-size;
  height: $img-size;
  margin: 10px;

  img {
    width: $img-size;
  }
}
@mixin top-rounded-corners {
  -webkit-border-top-left-radius: $border-radius;
  -webkit-border-top-right-radius: $border-radius;
  -moz-border-radius-topleft: $border-radius;
  -moz-border-radius-topright: $border-radius;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  overflow: hidden;
}
