
//Colors
$dark-blue: #041424;
$dark-gray-blue: #2D3A48;
$brand-blue: #0092CE;
$light-blue: #F8FAFC;
$dark-gray: #041424;
$purple-blue: #1F4280;
$darkpurple: #2B2A5E;
$cool-dark-gray: #5f798a;
$light-gray: #eee;
$background-blue: #C8D3DB;
$background-lightblue: #E5ECF2;
$purple: #7371C1;
$teal: #44CCB9;
$orange: #EEA900;
$boxlabel-gray: #51626F;
$pink: #CC449C;

//Alerts
$alert-red: #BB0000;
$alert-info: #d1ecf1;
$alert-secondary: #e7e8ea;
$alert-success: #d4edda;
$alert-warning: #fff3cd;
$alert-light: #fefefe;
$alert-dark: #d6d8d9;

//Fonts
$font-color: $dark-gray;
$filter-small-labels: $cool-dark-gray;

//Elements
$border-radius: 5px;
$nav-bg-blue: #0078AA;
$thumbs-up-bg: #DDE5EB;
$thumbs-up-bg-on: #F7F9FB;
$border-color: #CCD2D6;
$default-border: 1px solid $border-color;

//TABLES
$table-topper-color: $dark-blue;
$table-label-background: #E5ECF2;
$table-topper-color: #041424;
$table-row-bg-even: #F8FAFC;

// Media Queries
$xsmall: 400px;
$small: 600px;
$medium: 992px;
$large: 1100px;
$xlarge: 1200px;
