<div class="draft-wrapper">
	<!--test-->
  <!--<div class="draft-pending" data-bind="visible: oPending()">Request Pending...</div>-->
  <div class="draft-desc">
      <div class="draft-desc-name">Xtreme League: <span data-bind="html: oLeagueName()"></span></div>
      <p>Draft Rounds (Team Size) = <span data-bind="text: oRounds()"></span>
          , Teams per League/Division = <span data-bind="text: oTeamCount()"></span>
          , Rank Zones = <span data-bind="text: oRankZones()"></span>
          , Queing Overage = <span data-bind="text: oOverage()"></span>
          , Queue Limit = <span data-bind="text: oOverage() + oRounds()"></span>
      </p>
      <br />
      <p style="display:none;"><input type="radio" checked="checked" name="pickmethod" value="manual" /> Pick Manually&nbsp&nbsp;<input type="radio" name="pickmethod" value="auto" /> Auto-Pick&nbsp;&nbsp;<input type="radio" name="pickmethod" value="best" /> Pick Best Available</p>
      <div class="pickmethod-desc" data-bind="visible: pickmethod() == 'manual'">
          <p>Please select <span data-bind="text: (oOverage() + oRounds())"></span> draft candidates
          <span data-bind="visible: oRankZones() > 1">
              (<span data-bind="text: (oRounds() + oOverage()) / oRankZones()"></span> from each Rank Zone*).
          </span>
          <span data-bind="text: oRounds()"></span> players per team will be
          drafted.
          <span data-bind="visible: oOverage() > 0">
            <span data-bind="text: oOverage()"></span>  players
            serve as alternates for when a player in
            your queue has been drafted by another team. You may pick a maximum
            of <span data-bind="text: oOverage()"></span> players that are also included in the player queues of other Xtreme teams.
          </span>
        </p>
        <br />
        <p>
          *All Xtreme teams are comprised of players from across the
          performance spectrum. Your role as an Xtreme team owner is to connect
          with, mentor, support and inspire employees at all experience and
          skill levels to win!
        </p>
      </div>
      <div class="pickmethod-desc" data-bind="visible: pickmethod() == 'auto'">
          <p>We can automatically pick your players for you</p>
          <p>We will select 18 players - 6 from the upper 1/3 for 90 day balanced score, 6 from middle 1/3, etc.</p>
          <p>Final roster size will be 12, as all selected players may not be available.</p>
          <p>All previous picks will be removed from your queue if you choose this option.</p>
          <input type="button" value="Auto-Pick" />
      </div>
      <div class="pickmethod-desc" data-bind="visible: pickmethod() == 'best'">
          <p>We can automatically pick the best available players for you.</p>
          <p>We will select 6 from the upper 1/3 for 90 day balanced score, 6 from middle 1/3, etc.</p>
          <p>Please note that "Available" means that no other Xtreme player manually selected them.</p>
          <p>All previous picks will be removed from your queue if you choose this option.</p>
          <input type="button" value="Pick Best Available" />
      </div>
  </div>

  <div class="draft-prompt">
    <button type="button" class="btn btn-primary btn-large btn-rules hideshow">
      Rules
    </button>
    <button type="button" class="btn btn-primary btn-large btn-rules" style="margin-right: 10px;" data-bind="click: function() { window.close(); }">
      &#171; Xtreme Home
    </button>
    <script>
      jQuery(document).ready(function(){
        jQuery('body').on('click', '.hideshow', function(event) {
             jQuery('.draft-desc').slideToggle('show');
        });
      });
    </script>
      <div data-bind="visible: ((oOverage() + oRounds()) - oQueueLength()) > 0">
          <p>Pick <span data-bind="text: (oOverage() + oRounds()) - oQueueLength()"></span> more player<span data-bind="text: ((((oOverage() + oRounds()) - oQueueLength() > 1))? 's' : '')"></span>!</p>
          <p class="draft-subprompt" data-bind="visible: oSubPrompt()!='',html: oSubPrompt()"></p>
      </div>
      <div data-bind="visible: (!oLoading()) && (((oOverage() + oRounds()) - oQueueLength()) <= 0)">
          <p>Your Draft Queue is complete, but can be modified via the Draft Room at any time prior to the actual draft.</p>
      </div>
      <div data-bind="visible: oLoading()">
          <p>...Loading Player Selections</p>
      </div>
  </div>

  <div class="draft-detail-wrapper">
      <label>Player Detail</label>
      <div class="draft-detail-photo">
        <div class="player-profile-card__avatar avatar-circle player-details__avatar" style="width:80px;height:80px;border:0;">
          <img width="80" data-bind="attr: { src: avatarfilename() }">
        </div>
      </div>
      <div class="draft-detail-prompt" style="display:none;">
          It's your turn to draft, select a player from the player selection table below, then click 'DRAFT PLAYER' to draft.
      </div>
      <div class="draft-detail">
      </div>
      <div class="draft-detail-buttons" style="display:none;">
          <input class="draft-detail-button-q btn-outline" type="button" value="Add to Queue" />
          <input class="draft-detail-button-q-delete btn-outline" type="button" value="Remove from Queue" />
          <input class="draft-detail-button-draft btn-blue" type="button" value="DRAFT PLAYER" data-bind="visible: oDraftingNow()" />
      </div>
  </div>

  <div class="draft-obs-select-wrapper">
      <div class="draft-select-observe"><input  type="checkbox", value="On" /><label>Observe Only</label></div>
      <div class="draft-select-autopick"><input  type="checkbox", value="On" /><label>Auto-Pick</label></div>
      <div class="draft-select-pause"><input  type="checkbox", value="On" /><label>Pause</label></div>
      <br /><br /><input class="draft-reset" type="button" style="display:none;" value="Reset Draft" />
      <div class="draft-obs-wrapper" style="display:none;">
          <div class="draft-obs-name">Jeff Gack</div>
      </div>
  </div>

  <div class="draft-table-q-wrapper">
      <label>Queue</label>
      <div class="draft-q-save">Save Queue</div>
      <div class="draft-q-saved">Queue Saved</div>
      <table class="draft-table-q">
          <thead>
              <tr>
                  <th style="display:none;">uid</th>
                  <th>&nbsp;</th>
                  <th colspan="2">Actions</th>
                  <th>Name</th>
                  <th>Challenge Owner</th>
                  <th>Project</th>
                  <th>Location</th>
                  <th>Team</th>
                  <th>Tenure (Months)</th>
                  <th>Recent Bal Score</th>
                  <th>90 Day Bal Score</th>
                  <th>Rank Zone</th>
              </tr>
          </thead>
          <tbody class="draft-table-q-body"></tbody>
      </table>
  </div>
  <div class="draft-table-wrapper">
      <span class="draft-table-menu draft-table-menu-player">Player Selection</span>
      <div class="draft-table-pane">
          <table class="draft-table draft-table-tablesorter">
              <thead>
                  <tr>
                      <th colspan="2">&nbsp;</th>
                      <td><select class="draft-filter-project"><option value="">(All)</option></select></td>
                      <td><select class="draft-filter-location"><option value="">(All)</option></select></td>
                      <td><select class="draft-filter-team"><option value="">(All)</option></select></td>
                  </tr>
                  <tr><th></th></tr>
                  <tr>
                    <th style="display:none;">uid</th>
                    <th>Name</th>
                    <th class="header">Challenge Owner</th>
                    <th>Project</th>
                    <th>Location</th>
                    <th>Team</th>
                    <th>Tenure (Months)</th>
                    <th>Recent Bal Score</th>
                    <th>90 Day Bal Score</th>
                    <th>Rank Zone</th>
                  </tr>
              </thead>
              <tbody class="draft-table-body"></tbody>
          </table>
      </div>
      <div class="draft-team-table-pane" style="display:none;">
          <div class="draft-team-table-header">
              <label>Team Selection</label>
          </div>
          <table class="draft-team-table draft-team-table-tablesorter">
              <thead>
                  <tr>
                      <th style="display:none;">uid</th>
                      <th>Pick</th>
                      <th>Name</th>
                      <th>Challenge Owner</th>
                      <th>Project</th>
                      <th>Location</th>
                      <th>Team</th>
                      <th>Tenure (Months)</th>
                      <th>Recent Bal Score</th>
                      <th>90 Day Bal Score</th>
                  </tr>
              </thead>
              <tbody class="draft-team-table-body"></tbody>
          </table>
      </div>
  </div>

</div>
<div class="unwelcome-wrapper" style="display:none;text-align: center; margin: 30px auto 0 auto;padding:30px;border: 4px solid red;font-size:20px; border-radius: 15px;">
  <div class="unwelcome-prompt"></div>
</div>
