<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head id="head" runat="server">
    <title>A-GAME Flex Gamification System User Guide</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <!-- see purecss.io for docs -->
    <link rel="stylesheet" href="../../css/pure-min.css" />
    <link rel="stylesheet" href="../../css/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/fan-2.0.css" />
  </head>
  <body>
    <div class="fan-guide">
      <div class="container">
        <div class="table_topper" style="margin-top:0;">
          A-GAME FLEX User Guide
        </div>
        <div class="two-column-container" style="margin-bottom: 100px;">
          <div class="left-side-column-container">
            <ul class="table-of-contents-links">
                <li><h3>Quicklinks</h3></li>
              <li>
                <a href="#intro">Flex Introduction</a>
              </li>
              <li>
                <a href="#settings">Game Settings</a>
                <ul>
                    <li>
                        <a href="#editor">The Game Editor</a>
                    </li>
                </ul>
              </li>
              
              <li>
                <a href="#create">Creating Games</a>
                <ul>
                  <li>
                    <a href="#leaderboard">Leaderboard Game</a>
                  </li>
                </ul>
              </li>
             
            </ul>
          </div>
          <div class="right-main-column-container">
            <h3 id="intro" class="bluetxt">Flex Introduction</h3>
            <p>
                Gamification can be a powerful tool for contact center leaders 
                who want to heighten awareness of a specific metrics, boost 
                individual or team engagement, motivate the workforce to achieve 
                a goal, or simply add some fun into the daily work routine. 
                A-GAME Flex enables contact center supervisors and managers to 
                create games for teams and agents in minutes. Game type, 
                duration, theme, scoring basis, participants, and other setup 
                options provide an almost endless platform from which to 
                create engaging experiences that enhance agent support and 
                improve workforce bonds. This guide will show you how to use 
                A-GAME Flex and achieve consistent success with gamification.
            </p>
            <img src="../../css/images/flex-guide-header.jpg" width="100%" />
            <hr class="dashed" />
            <h3 id="settings" class="bluetxt">Game Settings</h3>
            <p id="editor">
              <strong>The Game Editor</strong>
            </p>
            <p>
                The <b>Flex Game Editor</b> is an intuitive wizard-style interface 
                that makes creating and modifying games easy. To access the 
                <b>Flex Game Editor</b>, log in to <b>Acuity</b>, click 
                <b>A-GAME | Flex | Add/Edit Games</b>.
            </p>
            <img src="../../css/images/flex-guide-img1.jpg" width="100%" />
            <p>
                Most of the fields required in screen one should be self-explanatory. 
            </p>
            <ul style="list-style-type: decimal;">
                <li>
                    <strong>Name.</strong> Provide a name for your game that&apos;s appropriate for your audience and whatever objective you have in mind to achieve.
                </li>
                <li>
                    <strong>Game Dates.</strong> Specify the Game&apos;s date range. While any range is possible, game durations longer than a month or shorter that a couple of days would be unusual. Use the date picker to specify the start and end dates for your game.
                    <img src="../../css/images/flex-guide-img3.jpg" style="display: block;margin: 20px auto;"  />
                </li>
                <li>
                    <strong>Theme &mdash; Type.</strong> There are two aspects of Theme to determine for your game. 
                    <br>
                    <ul>
                        <li>
                            First, involves the scoring methodology that will be used to measure and calculate game progress. Current options include Leaderboard, Points, and Phrase. Leaderboard games are the simplest to setup and understand, ranking participants in order of their standard or scored value to a specific KPI or metric. Points-based games award a defined number of points according to performance levels that will be defined in the next screen of the Game Editor. Phrase-based games enable you to create a multi-word phrase wherein players earn letters according to their performance. The first player or team that completes the phrase first is the game winner. Select from the options in the drop-down selector to specify the game type. 
                            <img src="../../css/images/flex-guide-img2.jpg" style="display: block;margin: 20px auto;"  />
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Theme &mdash; Theme.</strong> The Game Editor provides an evolving library of game themes to choose from. From the selector drop-down, select one that fits your objective. If you don&apos;t see what you&apos;re looking for or have a theme you&apos;d like added, email support@tocuhpointone.con and our theme designers will take care of you.
                    <img src="../../css/images/flex-guide-img4.jpg" style="display: block;margin: 20px auto;"  />
                </li>
                <li>
                    <strong>Game Type.</strong> Flex Games can be created for Teams or Agents. Click the selector drop-down to indicate the appropriate Game Type.
                    <img src="../../css/images/flex-guide-img5.jpg" style="display: block;margin: 20px auto;"  />
                    <br>
                    <ul>
                        <li>
                            <strong>Note:</strong> The Team Battle option supports Inter-Team competitions 
                            (games involving multiple teams), and soon, Intra-Team competitions. 
                            Intra-Team battles involve specific teams that are divided into sub-teams 
                            by the supervisor. If the Team Battle option is used, the Inter-Team (and 
                            soon Intra-Team) Sub-Group should be selected.
                            <img src="../../css/images/flex-guide-img6.jpg" style="display: block;margin: 20px auto;"  />
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Game Admin.</strong> With Flex, games can be created by supervisors for their own teams or for supervisors by their managers. The Game Admin options available are managed as a function of the suer logged into the system. Logged in as a supervisor will allow supervisors to create games for their teams only. Managers to whom multiple supervisors report will be able to create games for any of their supervisors. Corporate user with higher privileges can create contests for supervisors across departments, projects, locations, etc.
                    <br>
                    <ul>
                        <li>
                            <strong>Note:</strong> If you are logged into Acuity as Supervisor, your name will be the only one visible in the Game Admin drop-down selector. Managers can designate any supervisor that reports to him or her a Game Admin. Therefore, all supervisors that report to a the logged in manager are displayed in the drop-down selector.
                            <img src="../../css/images/flex-guide-img7.jpg" style="display: block;margin: 20px auto;"  />
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Scoring Metric.</strong> Scoring metric is the basis on which game scoring will be calculated. Balanced Score or any primary KPI or sub-KPI configured within an agent scorecard can be used as the basis for game-scoring. A KPI that is not a part of any scorecard, called Custom Metric, can also be used for game scoring. To define the Scoring Metric, select from the listed options in the menu drop-down.
                    <br>
                    <ul>
                        <li>
                            <strong>Note:</strong> If the selected KPI includes sub-KPIs, the relevant sub-KPI must also be selected.
                            <img src="../../css/images/flex-guide-img8.jpg" style="display: block;margin: 20px auto;"  />
                        </li>
                        <li>
                            <strong>Note:</strong> Because there is no <b>Standard</b> Value for <b>Balanced Score, when it is</b> selected for a <b>Leaderboard</b> game, the <b>Scoring Basis</b> is always <b>Scored</b>.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Scoring Basis.</strong> Acuity assimilates KPI data based on either the Standard or Scored value. Standard value is the native value provided by the source system. For example, call duration is typically measured in seconds, so a standard value for the Average Handle Time for a call might be 500 seconds (the standard value is 500). The Scored value is the standard value translated into a scored value, typically using a scale of 1-10. A call of 500 seconds duration might be great, mapping to a score of 10, or terrible earning a score of 1. Flex Games scoring can use either the Scored or Standard KPI value.
                    <img src="../../css/images/flex-guide-img9.jpg" style="display: block;margin: 20px auto;"  />
                </li>
                <li>
                    <strong>Allow Discussion Board?</strong> Flex games include an option to enable a game-centric bulletin board style communication feature for game participants to encourage, mentor, brag, boast, or smack-talk their fellow players. 
                </li>
                <li>
                    <strong>Ending Points.</strong> Ending Points is a Flex game attribute that defines the number of points that a player must be awarded to win the game. The setting applies only to games that are points-based (see Theme &mdash; Type, #3 above). 
                    <br>
                    <ul>
                        <li>
                            <strong>Tip:</strong> The value for points-based games designed for a specific time duration, i.e., 30 days, should be set high enough to ensure players don’t win prematurely (for example, on day 5 of a 30-day game), but not so high that visualization of progress (be it via a race, puzzle, card, board, or other game metaphor) is indecipherable.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Status.</strong> The Status field indicates the Game’s current mode within the Flex system. When a new game is being created, the status is by default <b>In Development</b> until the setup is complete and the Game has been Started (status would change to <b>Live</b>) or the game has concluded (<b>In Review</b>), finalized (<b>Final</b>) and so on.  
                    <img src="../../css/images/flex-guide-img10.jpg" style="display: block;margin: 20px auto;"  />
                </li>
                <li>
                    <strong>Game Phrase.</strong> The Game Phrase field will display the text for Phrase themed games (see section 3 above)
                    <img src="../../css/images/flex-guide-img11.jpg" style="display: block;margin: 20px auto;"  />
                </li>
                <li>
                    <strong>Scoring Model. Scoring Model</strong> options are determined by the selected <b>Game Theme</b>. For example, Leaderboard Games don’t use Custom Scoring, but this option used for Phrase and Points based games. The <b>Creating Games</b> section will provide instruction on how to create each game type.
                </li>
                <li>
                    <strong>Calculate Score.</strong> Flex Game scores can be calculated on either a <b>Daily</b> or <b>Cumulative</b> basis.
                    <img src="../../css/images/flex-guide-img12.jpg" style="display: block;margin: 20px auto;"  />
                    <p>
                        Leaderboard games are inherently Cumulative, so this option is not displayed for that Game Type. A Points based game, however, might award points based on performance over a particular time-period &mdash; <b>Cumulative</b>, or on each day of the time period &mdash; <b>Daily</b>. 
                    </p>
                </li>

            </ul>


            <hr class="dashed" />
            <h3 id="create" class="bluetxt">Creating Games</h3>
            <p id="leaderboard"><strong>Leaderboard Game</strong></p>
            <p>
                Leaderboard Games are the most common type of Flex game and simple and fast to set up. Leaderboard Games can be, however, effective in a broad range of use cases. Following, we’ll consider one particular use to illustrate how to set up a Leaderboard Game.
            </p>
            <p>
              <b>Use Case: </b> Supervisor wants to enhance agent support strategy using gamification. Game plan is to strengthen awareness and focus on overall Balanced Score by incorporating a one-month contest across all agents.  Top three performing agents receive lunch (delivered!) the first business day following contest end. Top two most improved agents (performance over previous month’s score) receive same prize. 
            </p>
            <ul style="list-style-type: decimal;">
              <li>
                <strong>Invoke Game Editor Form</strong><br>
                To invoke the Game Editor Form, log in to <b>Acuity</b>, click <b>A-GAME | Flex | Add/Edit Games</b>. Then click the Add New Game button.
                <br>
                <img src="../../css/images/flex-guide-img13.jpg" style="width: 100%;"  />
            </li>
              <li>
                <strong>Setup Screen 1</strong><br>
                <br>
                <img src="../../css/images/flex-guide-img14.jpg" style="width: 100%;"  />
              </li>
              <li>
                <strong>Setup Screen 2</strong><br>
                <br>
                <img src="../../css/images/flex-guide-img15.jpg" style="width: 100%;"  />
              </li>
              <li>
                <strong>Setup Screen 3</strong><br>
                <br>
                <img src="../../css/images/flex-guide-img16.jpg" style="width: 100%;"  />
              </li>
              <li>
                <strong>Review Game Setup 1</strong><br>
                Once the Save & Close button has been clicked, the Flex system will process the game attributes and create a game card as shown in the screen shot below. Note that the game remains in the In Development status and has not yet started. Review the game settings and verify that scoring is consistent with the data and game objectives. 
                <br>
                <img src="../../css/images/flex-guide-img17.jpg" style="width: 100%;"  />
            </li>
              <li>
                <strong>Review Game Setup 2</strong><br>
                Click on the <b>Calculate Score</b> button and Flex will generate scores based on the game settings. Modifications to the game settings can be made by clicking the <b>Edit Game</b> button. Once you’re satisfied with the game setup, click the <b>Start Game</b> button to activate the game according to its schedule. 
                <br>
                <img src="../../css/images/flex-guide-img18.jpg" style="width: 100%;"  />
                <br>
                <br>
                Once the Start Game button has been clicked, the <b>Game Status</b> will change to <b>Live</b>.
                <br>
                <img src="../../css/images/flex-guide-img19.jpg" style="display:block;margin: 20px auto;"  />
            </li>
             <li>
                <strong>Live Leaderboard</strong><br>
                The game Leaderboard updates in real-time and is accessible to the game administrator, managers, and participating employees (agents, CSRs, etc.) by clicking Flex in the menu. The leaderboard displays can be displayed on <b>personal systems</b> or <b>public monitors</b> or <b>wallboards</b>.
                <br>
                <img src="../../css/images/flex-guide-img20.jpg" style="width: 100%;"  />
            </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
