<div class="headericon-agame">
  <div class="headericon-agame-backdrop"></div>
  <div class="headericon-agame-gamestatus"></div>
  <div class="headericon-agame-gamescore"></div>
</div>

<!-- FOOTBALL
<div class="headericon-agame headericon-agame-football">
  <div class="headericon-football"></div>
  <div class="headericon-agame-gamestatus"></div>
  <div class="headericon-agame-gamescore"></div>
</div>
-->

<!-- BASKETBALL

<div class="headericon-agame headericon-agame-basketball">
  <div class="headericon-basketball"></div>
  <div class="headericon-agame-gamestatus"></div>
  <div class="headericon-agame-gamescore"></div>
</div>
-->


<!-- BASEBALL
<div class="headericon-agame headericon-agame-baseball">
  <div class="headericon-baseball"></div>
  <div class="headericon-agame-gamestatus"></div>
  <div class="headericon-agame-gamescore"></div>
</div>
-->

<!-- SOCCER

<div class="headericon-agame headericon-agame-soccer">
  <div class="headericon-soccer"></div>
  <div class="headericon-agame-gamestatus"></div>
  <div class="headericon-agame-gamescore"></div>
</div>
-->
