    <div class="err-container"><div class="err-hide">Done with this error</div><div class="err-text">Acuity Error:</div><div class="err-content">&nbsp;</div><div class="err-text">This notice has already been submitted to technical services.  If you would like to add more information, please enter it below and submit.</div><div><input id="errinput" type="text" style="width: 500px;" value="" /><input id="errsubmit" type="button" value="Submit" /></div><div class="err-text">We will work diligently to correct this problem.  You will be notified when we have a solution or work-around for you.</div></div>

        <div class="login-wrapper">
            <!-- Login Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header login-modal-image">
                            <h4 class="modal-title login-modal-title" id="loginModalLabel">Log In</h4>
                        </div>
                        <div class="modal-body">
                            <form class="pure-form pure-form-aligned" id="loginForm">
                                <fieldset>
                                    <div class="pure-control-group">
                                        <label for="usernameId">User Name:</label>
                                        <input type="text" id="usernameId" data-bind="value: newloginusername" name="F:username/R:nonblank:0" />
                                    </div>
                                    <div class="pure-control-group">
                                        <label for="passwordId">Password:</label>
                                        <input type="password" id="passwordId" data-bind="value: newloginpassword" name="F:password/R:nonblank:1" />
                                    </div>
                                    <div><span class="login-validation" id="loginvalidation"></span></div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-bind="click: closeLogin" class="pure-button pure-button-default" data-dismiss="modal">Close</button>
                            <button type="button" data-bind="click: doLogin" class="pure-button pure-button-primary">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-welcome">
                <span class="login-notloggedin">
                    <a href="#loginModal" role="button" data-toggle="modal">Log In</a><span class="login-lock"></span>
                </span>
                <span class="login-loggedin">
                    Logged in as<br /><span class="login-username"></span><br />
                    <a href="#loginModal" role="button" data-toggle="modal">Log Out</a><span class="login-lock"></span>
                </span>
            </div>
        </div>
