<div class="treasurehunt-ers" style="display:none;">
<div class="tabarea" id="cepointsarea">
    <div class="CEPointsRegister-wrapper">
        <div class="CEPointsRegister-expand" style="text-align: left; padding-top:50px; display:none;">
            <a target="_blank" class="CEPointsRegisterExpand" href="#">Show Coins Register</a>
        </div>
        <div class="CEPointsRegister-innerwrapper">
            <h1><span class="RankPointsLabel"></span> Register for <span class="CEPointsName"></span></h1>
            <div class="CEPointsRegister">
                <table>
                    <tr>
                        <td>Date</td>
                        <td>Description</td>
                        <td>Amount</td>
                        <td>Balance</td>
                    </tr>
                </table>
            </div>
            <div class="CEPoints-redeem-default">
            </div>
        </div>
    </div>
    <div class="CEPointsPrizes-wrapper">
        <p>Redeem your <span class="labPointsLower">points</span> for cash and prizes:</p>
        <div class="CEPointsPrizes">
        </div>
    </div>
    <div class="CEPointsLegend-wrapper">
        <div class="CEPointsLegend-default">
            <p><span class="labPointsUpper">Points</span> are awarded based on<br />your <b>Rank</b> at the end of<br />each pay period.</p>
            <div class="CEPointsLegend">
                <table class="CEPointsLegend-scoreboard">
                    <tr>
                        <td>Rank Grade</td>
                        <td><span class="labPointsUpper">Points</span></td>
                    </tr>
                    <tr>
                        <td>A+</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>75</td>
                    </tr>
                    <tr>
                        <td>B+</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
            <p><a target="_blank" class="CEPointsTCLink" href="../help.aspx?cid=CEPointsTC"><span class="RankPointsLabel"></span> Terms &amp; Conditions</a></p>
        </div>
        <div class="CEPointsLegend-TreasureHunt">
            <div class="CEPointsLegend-TreasureHunt-scoreboard">
                <div class="CEPointsLegend-TreasureHunt-score-1-left"><span style="color:black;">Base+3</span> : Crown Level</div>
                <div class="CEPointsLegend-TreasureHunt-score-1-right">x 80</div>
                <div class="CEPointsLegend-TreasureHunt-score-2-left"><span style="color:black;">Base+2</span> : Diamond Level</div>
                <div class="CEPointsLegend-TreasureHunt-score-2-right">x 60</div>
                <div class="CEPointsLegend-TreasureHunt-score-3-left"><span style="color:white;">Base+1</span> : Ruby Level</div>
                <div class="CEPointsLegend-TreasureHunt-score-3-right">x 40</div>
                <div class="CEPointsLegend-TreasureHunt-score-4-left"><span style="color:white;">&nbsp;Base&nbsp;</span> : Emerald Level</div>
                <div class="CEPointsLegend-TreasureHunt-score-4-right">x 20</div>
                <div class="CEPointsLegend-TreasureHunt-score-5-left"><span style="color:black;">&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Sapphire Level</div>
                <div class="CEPointsLegend-TreasureHunt-score-5-right">x 5</div>
            </div>
            <div class="CEPointsLegend-TreasureHunt-backsplash"></div>
            <div style="position: absolute; top: 50px; left: 550px;">
                <div class="CEPointsLegend-TreasureHunt-gemsRegister"></div>
                <div class="CEPointsLegend-TreasureHunt-gem-tip">Mouse over gems for more information.</div>
                <div class="CEPoints-redeem-TreasureHunt"></div>
                <p><a target="_blank" class="CEPointsTCLink" href="../help.aspx?cid=CEPointsTC"><span class="RankPointsLabel"></span> Terms &amp; Conditions</a></p>
                <div class="CEPoints-peak CEPoints-peak-1"></div>
                <div class="CEPoints-peak CEPoints-peak-2"></div>
                <div class="CEPoints-peak CEPoints-peak-higher"></div>
            </div>
        </div>

    </div>
</div>
</div>