<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head id="head" runat="server">
    <title>Team Owner Guide</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <!-- see purecss.io for docs -->
    <link rel="stylesheet" href="../../css/pure-min.css" />
    <link rel="stylesheet" href="../../css/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/fan-2.0.css" />
  </head>
  <body>
    <div class="fan-guide">
      <div class="container">
        <div class="table_topper" style="margin-top:0;">
          A-GAME Supervisor/Coaches Guide
        </div>
      
        <div class="two-column-container" style="margin-bottom: 100px;">
          <div class="left-side-column-container">
            <ul class="table-of-contents-links">
              <li><h3>Quicklinks</h3></li>
              <li>
                <a href="#setup">Setup Your Team</a>
              </li>
              <li>
                <a href="#schedule">Check Your Schedule</a>
              </li>
              <li>
                <a href="#lineup">Select Your Starting Lineup</a>
              </li>
              <li>
                <a href="#manage1">Monitor Progress</a>
                <ul>
                  <li>
                    <a href="#manage1">Manage Performance</a>
                  </li>
                  <li>
                    <a href="#manage2">League, Team, Individual</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#celebrate">Celebrate Your Victories!</a>
              </li>
            </ul>
          </div>
          <div class="right-main-column-container">
            <h3 id="setup" class="bluetxt">1. SETUP YOUR TEAM</h3>
            <p>
              Click the A-GAME tab and then - <b>Team | Team Setup</b>
            </p>
            <ul>
              <li>
                <b>Name your team</b> (get creative! Consider polling
                your team for suggestions or choose via contest
                or vote.)
              </li>
              <li>
                <b>Select team colors</b>
              </li>
              <li>
                <b>Automatically Select Teams:</b> Not recommended
                because it’s no fun. If the auto option is
                selected, all starting lineups for the current
                matchup will be selected automatically (at random)
                from all eligible players. If this option is
                not selected and the deadline for manual roster
                selection/modification has past, all or whatever
                remaining starting lineup slots will be filled
                automatically at random.
              </li>
            </ul>
            <hr class="dashed" />
            <h3 id="schedule" class="bluetxt">2. CHECK YOUR SCHEDULE</h3>
            <p>
              Like most leagues, be they athletic or other type,
              A-GAME competitions are comprised of a regular
              season – a series of pre-scheduled games followed
              by a playoff period and a league championship.
            </p>
            <p>
              Review your schedule and make plans for aggressive
              smack-talk and confrontational challenges of your
              opponents (<b>Acuity Chat</b> or <b>Messaging</b> are excellent
              channels to communicate your competitive challenges
              and intentions. The parking lot is good, too. Keep
              it fun and always in good cheer! ☺)
            </p>
            <p>
              Log into Acuity, click the <b>A-GAME tab</b> and check out
              your team schedule by clicking <b>Team | Schedule</b>
            </p>
            <hr class="dashed" />
            <h3 id="lineup" class="bluetxt">3. SELECT YOUR STARTING LINEUP</h3>
            <p>
              Prior to each A-GAME Matchup, you’ll need to select
              a starting lineup of six players (sometimes more
              depending on A-GAME theme) from among your full
              player roster. The balanced score for each starting
              player will be added together to determine the
              team score. This score will be updated each day.
              Keep in mind that positions may include an X Factor
              (weight) of either 1, 2 or 3 (i.e., balanced score
              for agent assigned to Quarterback position will be
              multiplied by a factor of 3 for purposes of A-GAME
              scoring!).
            </p>
            <p>
              <b>The process is easy:</b>
            </p>
            <ul>
              <li>
                Log into Acuity
              </li>
              <li>
                Click the <b>A-GAME tab</b>
              </li>
              <li>
                Click on the Xtreme menu (you may already be
                there by default).
              </li>
              <li>
                Click <b>Team | Roster</b>
              </li>
              <li>
                Click the <b>pencil icon</b> <img src="../../css/images/pencil_icon.png"/>
                next to the player you want to add to the starting
                lineup and select a position.
              </li>
              <li>
                Complete process for all six players.
                <br /><br />
                <img src="../../css/images/roster_supe.png" width="100%" />
              </li>
              <li>
                You are ready to rumble.
              </li>
            </ul>
            <hr class="dashed" />
            <h3 id="manage1" class="bluetxt">4. MONITOR PROGRESS – Manage Performance</h3>
            <p>
              The game has begun and you’ll want to leave as little to chance as possible.
            </p>
            <p>
              First, keep an eye out on the score.
            </p>
            <p>
              <b>
              To do so, go to:
              </b>
            </p>
            <ul>
              <li>
                Click <b>Team | Matchup</b>
                <br /><br />
                <img src="../../css/images/matchupview.png" width="100%" />
              </li>
            </ul>
            <p>
              The Matchup view will be updated every day.
              Connect with your team members to encourage,
              assist and motivate them.
            </p>
            <p>
              Use <b>Acuity Chat</b> or <b>Messaging</b> to communicate with
              your team. <b style="color: red;">Note: Messaging can be invoked directly
              from the A-GAME Roster view!!!</b> And visit regularly
              with your team in person. Bring them a smile,
              coaching, a snack, a surprise.
            </p>
            <p>
              Use <b>Acuity</b> to identify <b>KPI</b> strength and weakness
              and ensure they are sufficiently supported by you,
              HR, Quality and Training. Be their advocate and
              make sure they have everything they need to
              succeed individually and for the team!  <em>“The
              secret to all victory lies in the organization
              of the non-obvious”</em> – Marcus Aurelius.
            </p>
            <hr class="dashed" />
            <h3 id="manage2" class="bluetxt">5. MONITOR PROGRESS
              – League, Team, Individual
            </h3>
            <p>
              A-GAME league information is at your fingertips.
              <b>Scores, Standings</b> and <b>Stats</b> (individual and team)
              from within and outside your division are updated
              daily and can be viewed any time within Acuity.
            </p>
            <p>
              To do so, go to <b>League | Scores</b> and <b>League | Standings</b>
            </p>
            <p>
              For statistics, including <b>Most Valuable</b> and <b>Most
              Improved</b> Player, go to <b>Stats | Stats</b> and to view
              top players by Position, go to <b>Stats | Position Play</b>
            </p>
            <hr class="dashed" />
            <h3 id="celebrate" class="bluetxt">6. CELEBRATE YOUR VICTORIES!</h3>
            <p>
              Coordinate with your local or global League
              Commissioner regarding A-GAME incentives,
              recognition and awards for outstanding team
              and individual play.
            </p>
            <p>
              <b>Team Recognition:</b> At the end of each matchup (game),
              the team at the top of each division should be
              recognized. But any win or noteworthy performance
              can be recognized at the team level.
            </p>
            <p>
              <b>Individual Recognition:</b> At the end of each matchup
              (game), outstanding performance at the individual
              level may be recognized for:
            </p>
            <ul>
              <li>
                <b>Position Play</b> – top performance in an assigned
                position by team, division, etc. Go to <b>A-GAME |
                Position Play</b> to identify top performing players
                by position.
              </li>
              <li>
                <b>MVP/MIP</b> – top performance based on balanced
                score and relative improvement by team, division,
                etc. Go to <b>A-GAME | Stats</b> to identify MVP and MIP
                players.
              </li>
              <li>
                <b>Medal of Excellence</b> (aka MOE) – special individual
                and team recognition awarded by TouchPoint One
                (software vendor for Acuity and A-GAME) to MVP
                and MIP teams and individuals across all corporate
                A-GAME leagues.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
