<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head id="head" runat="server">
    <title>Team Owner Guide</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <!-- see purecss.io for docs -->
    <link rel="stylesheet" href="../../css/pure-min.css" />
    <link rel="stylesheet" href="../../css/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/fan-2.0.css" />
  </head>
  <body>
    <div class="fan-guide">
      <div class="container">
        <div class="table_topper" style="margin-top:0;">
          <h5>Xtreme Team Owner Guide</h5>
        </div>
        <div class="two-column-container" style="margin-bottom: 100px;">
          <div class="left-side-column-container">
            <ul class="table-of-contents-links">
              <li>
                <a href="#step1">Sign-up</a>
              </li>
              <li>
                <a href="#step2">Personalize/Draft/Manage</a>
                <ul>
                  <li>
                    <a href="#step2-2">Name Your Team</a>
                  </li>
                  <li>
                    <a href="#step2-3">Draft Your Team</a>
                  </li>
                  <li>
                    <a href="#step2-4">Manual Pick</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#step3">Connect</a>
              </li>
              <li>
                <a href="#step4">Play</a>
                <ul>
                  <li>
                    <a href="#step4-2">Setup Your Team</a>
                  </li>
                  <li>
                    <a href="#step4-3">Check Your Schedule</a>
                  </li>
                  <li>
                    <a href="#step4-4">Select Your Starting Lineup</a>
                  </li>
                  <li>
                    <a href="#step4-5">Monitor Progress — Manage Performance</a>
                  </li>
                  <li>
                    <a href="#step4-6">Monitor Progress — League</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="right-main-column-container">
            <h3 id="step1" class="bluetxt">1. SIGN-UP</h3>
            <p>
              Congratulations! You’ve been invited to play
              A-GAME Xtreme. The total number of teams is
              limited, so sign up and reserve your spot asap.
            </p>
            <p>
              Log into Acuity, click the Xtreme tab and then
              click the <b>“Join Now”</b> button next to the League,
              Conference or Division in which you’d like to
              compete.
            </p>
            <img src="../../css/images/subscribe.jpg" width="100%" />
            <hr class="dashed" />
            <h3 id="step2" class="bluetxt">2. PERSONALIZE/DRAFT/MANAGE</h3>
            <p id="step2-2">
              <b>Name Your Team</b>
            </p>
            <p>
              Name your team (or do it later based on input
              from your players) and select colors, etc.
            </p>
            <img src="../../css/images/team_details.jpg" width="100%" />
            <br /><br />
            <p id="step2-3">
              <b>Draft Your Team</b>
            </p>
            <p>
              There are two options for how your Xtreme team
              may be drafted – <b>Auto or Manual pick.</b> If you
              don’t have time or simply prefer a hands-off
              approach to creating your fantasy team, click
              the Auto Pick option and the system will draft
              your team for you.  Serious players, who want
              to hand-pick their players, should click the
              <b>Manual</b> option.
            </p>
            <img src="../../css/images/draft_options.jpg" width="100%" />
            <br />
            <p>
              In either mode, the roster will include an equal
              number of agents from low, average and high
              performance tiers (referred in A-GAME Xtreme as
              <b>Rank Zones</b>).
            </p>
            <br />
            <p id="step2-4">
              <b>Manual Pick</b>
            </p>
            <img src="../../css/images/manual_draft.jpg" width="100%" />
            <br />
            <p>
              If you opted to make your Xtreme team draft
              picks manually and are ready to create your
              draft queue, click the <b>Enter Draft Room</b> button.
            </p>
            <br />
            <img src="../../css/images/draft_room.jpg" width="100%" />
            <br /><br />
            <p>
              The Draft Room enables you to customize your team
              based on location, project and performance stats
              and other filters. Select the players you’re
              interested in based on whatever criteria you
              like (bottom window columns are sortable).
              Your roster must include an equal number of
              agents from low, average and high performance
              tiers (referred in A-GAME Xtreme as <b>Rank Zones</b>).
              You’ll include extra players in your queue as
              alternates in cases where you lose a queued
              player to another Xtreme team owner during the
              draft process. Use the <b>&#8593; &#8595;</b> buttons to position
              players in the order you’d like them to be drafted,
            </p>
            <p>
              Once your queue is full, a message similar to
              the one below will be displayed.
            </p>
            <br />
            <img src="../../css/images/draft_complete.jpg" width="100%" />
            <br />
            <hr class="dashed" />
            <h3 id="step3" class="bluetxt">3. CONNECT</h3>
            <p>
              Your Xtreme team is drafted and now it’s time
              to play.  Things to do…
            </p>
            <p>
              <b>Contact your players! </b>
            </p>
            <br />
            <p>
              Let them know you care. Let them know you are
              there to assist, support and motivate. Let them
              know that your honor and pride are on the line
              to win.
            </p>
            <p>
              <b>Communicate regularly with your team</b>
            </p>
            <ul>
              <li>
                Log into Acuity and check their KPI and
                Balanced Score performance.
              </li>
              <li>
                Send messages of encouragement and inspiration
                via Acuity <b>Chat</b> and <b>Messaging</b> modules.
              </li>
              <li>
                Touch base with your players’ Supervisors to
                verify your team is getting the coaching and
                training support they need to succeed.
              </li>
              <li>
                Take an active role to support and mentor your team.
              </li>
            </ul>


            <hr class="dashed" />

            <h3 id="step4" class="bluetxt">4. PLAY</h3>
            <p>
              Playing A-GAME Xtreme is easy. Your routine will be
              nearly identical to that of a Supervisor's &mdash;
              and it goes something like this.
            </p>
            <h4 id="step4-2">Setup Your Team</h4>
            <p>
              Log into Acuity, click the <b>A-GAME tab</b>.<br />
              Select <b>Team</b> | <b>Team Setup </b>
            </p>
            <ul>
              <li>
                <b>Name your team</b> (get creative! Consider
                polling your team for suggestions or choose via contest or vote.)
              </li>
              <li>
                <b>Select team colors</b>
              </li>
              <li>
                <b>Automatically Select Teams:</b> Not recommended
                because it's no fun. If the auto option is
                selected, all starting lineups for the current
                matchup will be selected automatically (at random)
                from all eligible players. If this option is
                not selected (by the supervisor or Xtreme owner),
                and the window for manual roster selection/modification
                has past, all or whatever remaining starting
                lineup slots will be filled automatically at random.
              </li>
            </ul>
            <br />

            <h4 id="step4-3">Check Your Schedule</h4>
            <p>
              Like most leagues, be they athletic or other type,
              A-GAME competitions are comprised of a regular
              season &mdash; a series of pre-scheduled games followed
              by a playoff period and a league championship.
            </p>
            <p>
              Review your schedule and make plans for aggressive
              smack-talk and confrontational challenges of your
              opponents (<b>Acuity Chat</b> or <b>Messaging</b> are excellent
              channels to communicate your competitive challenges
              and intentions. The parking lot is good, too. Keep
              it fun and always in good cheer! &#9786;)
            </p>
            <p>
              Log into Acuity, click the A-GAME tab and Check
              out your team schedule by going to Xtreme clicking
              <b>Team</b> | <b>Schedule</b>
            </p>
<br />
            <h4 id="step4-4">Select Your Starting Lineup</h4>
            <p>
              Prior to each A-GAME Matchup, you'll need to
              select a starting lineup of six players from
              among your full player roster. The balanced score
              for each starting player will be added together
              to determine the team score. This score will be
              updated each day. Keep in mind that positions may
              include an X Factor (weight) of either 1, 2 or 3
              (i.e., balanced score for agent assigned to
              Quarterback position will be multiplied by a
              factor of 3 for purposes of A-GAME scoring!).
            </p>
            <p>
              <b>The process is easy:</b>
            </p>
            <ul>
              <li>
                Log into Acuity
              </li>
              <li>
                Click the <b>A-GAME tab</b>
              </li>
              <li>
                Click on the Xtreme menu (you may already be there by default).
              </li>
              <li>
                Click <b>Team</b> | <b>Roster</b>
              </li>
              <li>
                Click the pencil icon <img src="../../css/images/pencil_icon.png"/>
                next to the player you want to add to the
                starting lineup and select a position.
              </li>
              <li>
                Complete process for all six players.<br /><br />
                <img src="../../css/images/team_roster.png" width="100%" />
              </li>

              <li>
                You're are ready to rumble.
              </li>
            </ul>
            <br />
            <h4 id="step4-5">Monitor Progress &mdash; Manage Performance</h4>
            <p>
              The game has begun and you'll want to leave as little to chance as possible.
            </p>
            <p>
              First, keep an eye out on the score.
            </p>
            <p>
              <b>To do so, go to: </b>
            </p>
            <ul>
              <li>
                Click <b>Team</b> | <b>Matchup</b>
              </li>
            </ul>
            <img src="../../css/images/matchupview.png" width="100%" />
            <p>
              The Matchup view will be updated every day. Connect
              with your team members to encourage, assist and
              motivate them. Remember that even though your role
              on the organization may be vastly different than
              that of the front-line agent, your overall
              objectives are shared and your successes are
              fundamentally and inextricably linked. Your
              insights and experience about contact center
              operations, people and performance strategies,
              life and more could make the difference between
              the best or worst day ever.
            </p>
            <p>
              Use <b>Acuity Chat</b> or <b>Messaging </b>to communicate with
              your team. Better yet, visit regularly with them
              in person. Bring them a smile, a snack, a surprise.
            </p>
            <p>
              Use Acuity to identify KPI strength and weakness
              and ensure they are sufficiently supported by their
              supervisor, HR, Quality and Training. Be their
              advocate and make sure they have everything they
              need to succeed individually and for the team!
              <em>"The secret to all victory lies in the organization
              of the non-obvious"</em> &mdash; Marcus Aurelius.
            </p>

            <br />
            <h4 id="step4-6">Monitor Progress &mdash; League</h4>
            <p>
              A-GAME league information is at your fingertips.
              Scores, Standings and Stats (individual and team)
              from teams within and outside your division are
              updated daily and can be viewed any time within
              Acuity.
            </p>
            <p>
              To do so, go to <b>League</b> | <b>Scores</b> and <b>League</b> | <b>Standings</b>
            </p>
            <p>
              For statistics, including <b>Most Valuable</b> and <b>Most
              Improved</b> Player, go to <b>Stats</b> | <b>Stats</b> and to view
              top players by Position, go to <b>Stats</b> | <b>Position Play</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
