    <div class="treasurehunt-united ui-tabs-panel ui-widget-content ui-corner-bottom" style="display:none;">
      <div class="tabarea" id="cepointsarea" style="height: 985px; width: 1381px;">
        <div class="united-th_logo">
          <img src="../appLib/css/images/united-th-rewards-logo.png" alt="CCC Rewards" />
        </div>
        <div class="united-th_container">
          <!--
          <div class="united-th_left">
            <div class="united-th_kpibox">
              <div class="united-th_top-label">
                <div class="united-th_avatar">
                  <img src="../appLib/css/images/united-th-avatar.jpg" alt="JarDanai Hill" />
                </div>
                <strong>JarDanai Hill</strong>
              </div>
              <p>
                Duke - Sheri Harris Team
              </p>
              <div class="united-th_kpis">
                KPI Scores
                <table>
                  <tr>
                    <td>Attendance</td>
                    <td>5.41 <span class="united-th_kpi-dot dot-yellow"></span></td>
                  </tr>
                  <tr>
                    <td>Quality</td>
                    <td>5.41 <span class="united-th_kpi-dot dot-red"></span></td>
                  </tr>
                  <tr>
                    <td>AHT</td>
                    <td>5.41 <span class="united-th_kpi-dot dot-orange"></span></td>
                  </tr>
                  <tr>
                    <td>Utilization</td>
                    <td>5.41 <span class="united-th_kpi-dot dot-green"></span></td>
                  </tr>
                  <tr>
                    <td>CPH</td>
                    <td>5.41 <span class="united-th_kpi-dot dot-yellow"></span></td>
                  </tr>
                  <tr>
                    <td><strong>Overall Score</strong></td>
                    <td>9.20 <span class="united-th_kpi-dot dot-green"></span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          -->
          <div class="united-th_right">
            <div class="united-th_top-label">
              Welcome back <strong class="united-th_agent-name"></strong>!
            </div>
            <div class="united-th_row">
              <div class="united-th_row-left">
                <img src="../appLib/css/images/united-th-coins.png" alt="Coins Graphic" />
              </div>
              <div class="united-th_row-right">
                <div class="united-th_row-right-content">
                  <p>
                    You currently have treasure with a total value of:
                  </p>
                  <h2><div style="display:inline;" class="united-th_PointsBalance">0</div> <span>Coins</span></h2>
                  <a target="_blank" href="https://www.united.com" class="united-th_row-btn">Redeem Coins</a>
                </div>

              </div>
              <div class="clearfix"></div>
            </div>

            <div class="united-th_row">
              <div class="united-th_row-left">
                <img src="../appLib/css/images/united-th-coupons.png" alt="Coupons Graphic" />
              </div>
              <div class="united-th_row-right">
                <div class="united-th_row-right-content">
                  <p>
                    You currently have a total of:
                  </p>
                  <h2><div style="display:inline;" class="united-th_CouponsBalance">0</div> <span class="united-th_count-label">Flex Coupons</span></h2>
                  <a  target="_blank" href="https://www.united.com" class="united-th_row-btn">Redeem Flex Coupons</a>
                </div>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
