<div id="badgeRulesAdmin_UserPopup" class="user-popup-holder" baseclass="user-popup-holder">
   <div>
      <button class="user-popup-close user-popup-dismiss"><i class="fa fa-close"></i> Dismiss</button>
      <p id="userPopup_Message"></p>
      <button class="user-popup-close btn-large">Ok</button>
   </div>
</div>
<div class="basic-directive-holder">
 
   <div class="top-filters">
      <div class="filter-input-group">
         Category <select id="badgeRulesManager_groupFilter"></select>
      </div>
      <div class="filter-input-group">
         KPI <select id="badgeRulesManager_kpiFilter"></select>
      </div>
      <div class="filter-input-group">
         <a id="badgeRulesManager_clearFilters">Clear Filters</a>
      </div>
   </div>
     

   <div id="userInformationDisplay" class="user-information-display">
      <img id="UI_loadingImage" height="25" alter="Loading Information...">
      <span id="UI_loadingText">This is the loading of info</span>
   </div>   
   <div id="badgeRulesAdmin_BadgeListHolder" class="list-holder-rules"></div>         
   

   <div id="badgeRulesAdmin_AddBadgeRuleForm" class="editor-form editor-form_rules">      
      <div class="form-holder">
         <button class="btn-close btn-close-x btn-close-rules">
            <i class="fa fa-close"></i>
         </button>
      
         <div id="addBadgeRuleErrorHolder" class="error-information-holder"></div>
         <div class="badge-rules-label">
            Badge: <b><label id="badgeRulesAdmin_BadgeName"></label></b>
         </div>
         <br />
         Kpi: <select id="badgeRulesAdmin_BadgeAssignedKpi"></select><br />
         <input type="radio" name="badgeRulesAdmin_ScoreType" id="badgeRulesAdmin_ScoreType" value="Score"> Score
         <input type="radio" name="badgeRulesAdmin_ScoreType" id="badgeRulesAdmin_ScoreType" value="Standard"> Standard
         <input type="radio" name="badgeRulesAdmin_ScoreType" id="badgeRulesAdmin_ScoreType" value="Total"> Total
            <span id="badgeRulesAdminForm_ScoreHolder">
               between
               <input type="text" class="small-box" id="badgeRulesAdmin_MinimumScoreValueToEarn" />
               and
               <input type="text" class="small-box" id="badgeRulesAdmin_MaximumScoreValueToEarn" />
            </span>
            <span id="badgeRulesAdminForm_StandardHolder">
               between
               <input type="text" class="small-box" id="badgeRulesAdmin_MinimumStandardValueToEarn" />
               and
               <input type="text" class="small-box" id="badgeRulesAdmin_MaximumStandardValueToEarn" />      
            </span>
            <span id="badgeRulesAdminForm_TotalHolder">
               <input type="text" id="badgeRulesAdmin_MinimumRawSumToEarn" />
            </span>         
         <br />
         Consecutive Times to Earn: 
         <input type="text" class="small-box" id="badgeRulesAdmin_ConsecutiveMonthsToEarn" /> Month(s)
         <!-- <b><i> - or - </i></b>
         <input type="text" class="small-box" id="badgeRulesAdmin_ConsecutiveDaysToEarn" /> Days -->
         <br />
         
         Is Progressive Badge? <input type="checkbox" id="badgeRulesAdmin_IsProgressiveBadge" /><br />
         Maximum Number of Times person can earn Badge: 
         <input type="text" class="small-box" id="badgeRulesAdmin_MaximumNumberOfBadgesPerUser" /><br />
         Award Credits for Earning Badge? <input type="checkbox" id="badgeRulesAdmin_HasPoints"  /><br />
         Points Award For Earning Badge: <input type="textbox" id="badgeRulesAdmin_PointsForBadgeAward" /><br />
         
         <div class="badgeAdminForm_btns">
            <input type="hidden" id="addBadgeRuleBadgeId" readonly>
            <button id="btnAddBadgeRule" class="btn-large btn-add-rules-save">Add Rules</button>
            &nbsp;&nbsp;
            <button class="btn-large btn-close-rules">Cancel</button>
         </div>
      </div>
      
   </div>

   <div class="bottom-buttons">
      <div class="filter-input-group btnSaveAllRules">
         <button class="btn-large" id="btnSaveAllRules">Save All</button>
      </div>
   </div>
</div>