<div class="balance-label">
   Balance: <label id="userLedger_TotalPointsAvailable"></label> Credits
   <button id="btnUserPointsHistory" class="btn btn-large user-points_historybtn">View Credits Activity</button>
   <div class="clearfix"></div>
</div>
<div class="user-points_container">
   <div class="header-holder">
      <div class="user-points-header-item user-points-date">Date</div>
      <div class="user-points-header-item user-points-award-by">Award By</div>
      <div class="user-points-header-item user-points-award-reason">Reason</div>
      <div class="user-points-header-item user-points-awarded-points">Credits</div>
   </div>
   <div class="user-points-all-holder">
      <div id="userPointsListHolder" class="user-points-list-holder"></div>
   </div>
   <div class="user-points-list-footer">
      <div>
         # of Records: <label id="userLedger_UserPointsCount"></label>
      </div>
   </div>
</div>
