<DIV>
    Dev Area Start
    <div>
        <a href="SelfServiceSetup.aspx" target="_blank">Self Service Setup</a>
    </div>
    <div>
        <h3>Corp Admin Management</h3>
        <br>
        <div>
            <ul>
                <li>(Functional)<a href="ThemeManager.aspx" target="_blank">Theme Manager</a></li>
                <li>(Functional)<a href="configParameterManager.aspx" target="_blank">Config Parameter Manager</a></li>
                <li>(WIP)<a href="./TemplateManager/TemplateManager.aspx" target="_blank">Template Management</a></li>
                <li>(WIP)<a href="./MessageManager/MessageManager.aspx" target="_blank">Message Management</a></li>
            </ul>            
        </div>
    </div>
    <div>
        <h3>Client Specific Management</h3>
        <br>
        <a href="./GoalManager/UserGoalManager.aspx?prefix=www" target="_blank">Goal/Task Manager For User</a>
        <br>
        <div style="border:1px solid black; padding:3px;background-color:lightcyan;">
            <ul>
                <li><a href="EntityManager.aspx?prefix=www&entityMode=project" class="project-link-start" target="_blank">Project Manager</a></li>
                <li><a href="EntityManager.aspx?prefix=www&entityMode=group" class="group-link-start" target="_blank">Group Manager</a></li>
                <li><a href="EntityManager.aspx?prefix=www&entityMode=location" class="location-link-start" target="_blank">Location Manager</a></li>
                <li><a href="EntityManager.aspx?prefix=www&entityMode=team" class="team-link-start" target="_blank">Team Manager</a></li>
                <li><a href="EntityManager.aspx?prefix=www&entityMode=user" class="user-link-start" target="_blank">User Manager</a></li>
            </ul>    
        </div>
        <br>
        <br>
        <hr>
        Agent Dashboard
        <br>
        Supervisor Dashboard
    </div>
</DIV>