<div class="score-manager-holder">
    <div class="score-manager-header-holder">
        <div>Header Here</div>
        <div>
            <button class="score-manager-header-refresh-button"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
    </div>
    <div class="score-manager-item-holder">
        <div>
            <div class="score-manager-chart-holder col1of2"></div>
            <div class="score-manager-high-low-editor-holder col2of2"></div>            
        </div>    
    </div>
    <div class="score-manager-footer-holder">
        <div>Footer Here</div>
    </div>
</div>