<div>
    <div>
        Flex Theme Manager
    </div>
    <div class="user-status"></div>
    <div>
        <div>
            <div>
                Filters Here.
            </div>
            <div>
                <input type="button" class="theme-add-new-btn" value="Add New Theme">
                <button id="btnCloneTheme">Clone Theme</button>
            </div>
        </div>
        <hr >
        <div>
            <div>
                <div class="theme-list-holder"></div>
            </div>
        </div>
    </div>
    <div class="theme-editor-holder">
        <div>
            <div>
                <div>
                    <label>Theme Type</label>
                    <select class="theme-editor-theme-type"></select>
                </div>
                <div>
                    <label>Theme Name</label>
                    <input type="text" class="theme-editor-theme-name" />
                </div>
                <div>
                    <label>Short Name</label>
                    <input type="text" class="theme-editor-short-name" />
                </div>
                <div>
                    <label>Theme Tag Name</label>
                    <input type="text" class="theme-editor-tag-name"/>
                </div>
                <div>
                    <label>Finish Type</label>
                    <select class="theme-editor-finish-type"></select>
                </div>
                <div>
                    <label>Board Spaces</label>
                    <input type="text" class="theme-editor-board-spaces"/>
                </div>
                <div>
                    <label>Game Unit</label>
                    <select class="theme-editor-game-unit"></select>
                </div>
                <div>
                    <label>Status</label>
                    <select class="theme-editor-theme-stutus">
                        <option value="">Sleect Status</option>
                        <option value="A">Active</option>
                        <option value="I">Inactive</option>
                    </select>
                </div>
                <div>
                    <label>Max. Number of Participants</label>
                    <input type="text" class="theme-editor-max-participants"/>
                </div>
                <div>
                    <label>Requires Scoring Basis?</label>
                    <input type="checkbox" class="theme-editor-requires-scoring-basis"/>
                </div>
                <div>
                    <label>Requires Ending Point Total?</label>
                    <input type="checkbox" class="theme-editor-requires-ending-point-total"/>
                </div>
                <div>
                    <label>Is Scoring Option Available?</label>
                    <input type="checkbox" class="theme-editor-is-scoring-option-available">
                </div>
                <div>
                    <label>Requires Phrase?</label>
                    <input type="checkbox" class="theme-editor-require-letter-phrase">
                </div>
                <div>
                    <label>Has Animation?</label>
                    <input type="checkbox" class="theme-editor-has-animation"/>
                </div>
                <div>
                    <label>Animation Name</label>
                    <input type="text" class="theme-editor-animation-name"/>
                </div>
                <div>
                    <label>Theme Board Image</label>
                    <input type="text" class="theme-editor-board-image"/>&nbsp;
                    <img class="theme-editor-board-image-preview" height="100px" style="border:1px dashed black;">
                </div>
                <div>
                    <label>Theme Leaderboard Image</label>
                    <input type="text" class="theme-editor-leaderboard-image"/>&nbsp;
                    <img class="theme-editor-leaderboard-image-preview" height="100px" style="border:1px dashed black;">
                </div>
            </div>
            <div class="editor-form-button-holder">
                <input type="button" class="theme-save-btn" value="Save" >
                &nbsp;&nbsp;&nbsp;
                <input type="button" class="theme-cancel-btn" value="Cancel" >
                <input type="hidden" class="theme-editor-theme-id" value="-1">
            </div>
        </div>
    </div>
</div>

<!-- <div class="admin-panel">
    <div class="admin-status-output" style="color:lime;background-color:black;border:1px solid lightskyblue;text-align:left;vertical-align:top;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:8pt;" />
</div> -->
