<div class="basic-directive-holder">
   <div class="top-filters">
      Code: <input type="text" id="sidekickReasonManager_CodeFilter" />
      Name: <input type="text" id="sidekickReasonManager_NameFilter" />
      &nbsp;&nbsp;
      <button id="sidekickReasonManager_refresh"><i class="fa fa-filter"></i> Apply Filter</button>
      &nbsp;&nbsp;
      <button id="sidekickReasonManager_clearFilter">Clear Filter</button>
   </div>
   <br>
   <div class="bottom-buttons">
      <div class="filter-input-group">
         <button id="btnAddNewSidekickReason" class="btn button btn-add-new btn-large btn-green">
            <i class="fas fa-plus"></i> Add New Sidekick Reason
         </button>
      </div>
   </div>
   <div class="reasonDataHolder">
      <div id="reasonListHeader" class="header-holder header-holder_entities header-holder_entities_sidekickreason">
         <div class="header-item sidekick-reason-code">Code</div>
         <div class="header-item sidekick-reason-name">Name</div>
         <div class="header-item sidekick-reason-status">Status</div>
         <div class="header-item sidekick-reason-buttons">Actions</div>
      </div>
      <div class="selection-holder large-holder">
         <div id="sidekickReasonLoadingHolder" class="sidekick-reason-loading-message">
            <img src="../../../../applib/css/images/acuity-loading.gif" height="25px"><span
               id="sidekickReasonLoadingMessage"></span>
         </div>
         <div id="reasonListHolder" class="sidekick-reason-list-holder"></div>
      </div>
   </div>
   <!--Editor Form Start-->
   <div id="sidekickReasonEditorFormPanel" class="editor-form">
      <div class="form-holder-big">
         <button class="btn-close btn-close-x"><i class="fa fa-times"></i></button>
         <div class="error-information-holder"></div>
         <div class="two-col-flex">
            <div class="column1of2p">
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Code</div>
                  <input type="text" id="reasonCode">
                  <span id="sidekickReasonCodeValidCheckHolder"><i
                     class="sidekick-reason-code-available fas fa-check-circle"></i></span>
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Name</div>
                  <input type="text" id="reasonName">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Description</div>
                  <textarea maxlength="256" cols="50" rows="5" id="reasonDescription"></textarea>
               </div>            
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">QA SubForm Page</div>
                  <select id="qaSubFormPage"></select>
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">QA Form</div>
                  <select id="qaFormId"></select>
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Active</div>
                  <input type="checkbox" id="isActive">
               </div>
            </div>
            <div class="column2of2p">
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Ask For Rating</div>
                  <input type="checkbox" id="askForRating">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Display Goals</div>
                  <input type="checkbox" id="displayGoals">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Display Delivered By</div>
                  <input type="checkbox" id="displayDeliveredBy">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Display Notes</div>
                  <input type="checkbox" id="displayNotes">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Display Follow-up</div>
                  <input type="checkbox" id="displayFollowup">
               </div>            
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Offer New</div>
                  <input type="checkbox" id="offerNew">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Apply to Monthly Agent Count Requirements</div>
                  <input type="checkbox" id="countToAgentTouchGoals">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Apply to Monthly Agent Regonition Requirements</div>
                  <input type="checkbox" id="countToAgentRecognition">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Count as Coaching Item</div>
                  <input type="checkbox" id="countAsCoaching">
               </div>
               <div class="sidekick-reason-manager-form_row">
                  <div class="inline-item">Exclude From User Dashboard Display</div>
                  <input type="checkbox" id="excludeFromUserDashboard">
               </div>
            </div>
         </div>
         <br />
         <div class="badgeAdminForm_btns">
            <input type="hidden" id="sidekickReasonId" />
            <button class="btn-large" id="btnSave">Save</button>
            &nbsp;&nbsp;
            <button class="btn-close btn-large">Close</button>
         </div>

      </div>
   </div>
   <!--Editor Form End-->
</div>