<div>
  
   <div id="userJournalEntries"></div>

   <div id="journalDisplayForm" class="user-sidekick-display-form">

      <div class="display-sidekick-form-holder">    
         <button class="close-display-form header-button"><i class="fa fa-close">&nbsp;</i></button>     
         <div class="display-sidekick-form-header">Journal Entry</div>
         <div class="display-sidekick-form-holder_body">
            <div class="display-sidekick-header-section-holder">
               <p>
                  <span class="sidekick-data-label">Entry Date:</span>
                  <span id="displayFormItemDate"></span>
               <br>
                  <span class="sidekick-data-label">Delivered By:</span>
                  <span id="displayFormItemDeliveredBy"></span>
               <br>
                  <span class="sidekick-data-label">Category:</span>
                  <span id="displayFormItemReason"></span>
               </p>
            </div>
            <br />
            <div class="sidekick-details-section-holder">
               <p>
                  <span class="sidekick-data-label">Details/Issues:</span>
                  <p id="displayFormItemDetails"></p>
               </p>
            </div>
            <br />
            <div class="sidekick-resolution-section-holder">
               <p>
                  <span class="sidekick-data-label">Resolution/Follow-up:</span>
                  <p id="displayFormItemResolution"></p>
               </p>   
            </div>
            <br />
            <div class="sidekick-goal-section-holder">
               <h3 class="sidekick-data-label">
                  <label resource="RESOURCE_TEXT_GOAL">Goals</label>:
               </h3>
               <p id="displayFormItemGoalInformation"></p>
            </div>
         </div>
       
         <button class="close-display-form">Close</button>
      </div>

   </div>
</div>