
<div class="user-required-action-directive-holder">
   <div class="user-require-action-directive-list-holder">
      <div>
         <button id="btnRefreshRequiredActions" class="button btn btn-refresh" title="Refresh List"><i class="fa fa-refresh"></i></button>
      </div>
      <div id="userRequiredActionsListHolder"></div>
      <div id="userRequiredActionsDetailListHolder"></div>
   </div>

   <div id="userRequiredActionsEditorForm">
      <div class="editor-form">
         <div class="userRequiredActionsEditorForm_top">
            <div>
               <div class="form-name">
                  <span id="formNameSelectedLabel"></span>
               </div>
               <div>
                  <span id="statusSelectedLabel"></span>
               </div>
            </div>
            <button class="button btn btn-close"><i class="fa fa-close"></i></button>
         </div>
         <div style="min-height:40vh;max-height:40vh;overflow:auto;">
            <div class="header-item">
               <div class="user-required-action-item-holder header-item">Monitor Id</div>
               <div class="user-required-action-item-holder header-item">Monitor Date</div>
               <div class="user-required-action-item-holder header-item">Agent Name</div>
               <div class="user-required-action-item-holder header-item">Supervisor Name</div>
               <div class="user-required-action-item-holder header-item">Project</div>
               <div class="user-required-action-item-holder header-item">Location</div>
               <div class="user-required-action-item-holder header-item">LOB/Group</div>
               <div class="user-required-action-item-holder header-item">Score/Rating</div>
            </div>
            <div id="requiredActionsDetailList"></div>
         </div>
         <div style="padding: 20px 0 0 0;
         font-style: italic;
         font-size: 14px;">
            <span id="requiredActionsRecordsFoundCount"></span> Records found
         </div>
      </div>
   </div>
</div>
