<div class="control-holder">    
    <div class="widget-holder">
        <div class="widget-header">
            <div>
                Evaluation Forms
            </div>
            <div>
                <div>
                    <label>Evalutions due in next</label>
                    <select>
                        <option></option>
                        <option>2 days</option>
                        <option>7 days</option>
                        <option>14 days</option>
                        <option>30 days</option>
                        <option>3 months</option>
                        <option>6 months</option>
                        <option>1 year</option>
                    </select>
                </div>                
                <div>
                    <label>Users</label>
                    <select>
                        <option></option>
                        <option>Agent 1</option>
                        <option>Agent 2</option>
                        <option>Agent 3</option>
                        <option>Agent 4</option>
                    </select>
                </div>
                <div>
                    <input type="button" value="Apply Options" />
                    &nbsp;&nbsp;
                    <input type="button" value="Clear Options" />
                </div>
            </div>
        </div>
        <div class="widget-body">
            <div>
                User List here
            </div>
            <div>
                Editor Form Here. Hide initially. Load on Demand. Save information.
            </div>
        </div>
        <div class="widget-footer">
            Footer here
        </div>
    </div>
</div>