<div class="directive-holder"></div>
   <div id="claimedItemsLoadingMessage">
      <img src="../../../../applib/css/images/acuity-loading.gif" height="50">
      Loading...
   </div>
   <div class="claimed-items-list-base-display-holder">
      <div class="table-topper">
         <h3 id="claimedItemsHeaderText"></h3>
         <div>
            <button id="btnRefreshClaimedItems"><i class="fa fa-refresh"></i></button>
         </div>
      </div>
      <div>
         <div id="claimedItemsHeader"></div>
      </div>
      <div class="claimed-items-list-body-holder"> 
         <div id="claimedItemsList"></div>
      </div>
      <div class="claimed-items-list-footer-holder">
         <div id="claimedItemsFooter"></div>
      </div>
   </div>
</div>