<div class="settings-directive-holder">
   <div class="settings-directive-holder_item">
      Points Assigned: <b><span id="lblTotalProgramPointsAssigned"></span></b>
   </div>   
   <div class="settings-directive-holder_item">   
      Total Points Unclaimed: <b><span id="lblTotalProgramPointsUnclaimed"></span></b>
   </div>    
   <div class="settings-directive-holder_item">
      Total Points Unclaimed Dollar Value: <b><span id="lblTotalProgramUnclaimedValue"></span></b>
   </div>
   <div class="settings-directive-holder_item">
      Points Assigned YTD: <b><span id="lblYTDProgramPointsAssigned"></span></b>
   </div>
   <div class="settings-directive-holder_item">
      Points Unclaimed YTD: <b><span id="lblYTDProgramPointsUnclaimed"></span></b>
   </div>   
   <div class="settings-directive-holder_item">
      Points Unclaimed YTD Dollar Value: <b><span id="lblYTDProgramUnclaimedValue"></span></b> 
   </div>      
</div>