<div class="directive-holder">
   <div id="topUserPointsLoadingMessage">
      <img src="../../../../applib/css/images/acuity-loading.gif" height="50">
      Loading...
   </div>
   <div class="top-user-points-list-base-display-holder">
      <div class="table-topper">
         <h3>Top Point Earners</h3>
      </div>
      <div>
         <div class="top-user-points-list-header-row">
            <div class="top-user-points-list-item header-item user-name">User</div><div class="top-user-points-list-item header-item user-total-points">Total Points</div>
         </div>
      </div>
      <div class="top-user-points-list-body-holder"> 
         <div id="topUserPointsAwardList"></div>
      </div>
      <div class="top-user-points-list-footer-holder">
         &nbsp;
      </div>
   </div>   
</div>