
<div class="directive-holder">
   <div id="userRewardsLoadingMessage">
      <img src="../../../../applib/css/images/acuity-loading.gif" height="50">
      Loading...
   </div>
   <div class="user-rewards-list-base-display-holder">
      <div>
         <h3 id="userRewardsHeaderText"></h3>
      </div>
      <div>
         <div id="userRewardsAwardHeader"></div>
      </div>
      <div class="user-rewards-list-body-holder"> 
         <div id="userRewardsAwardList"></div>
      </div>
      <div class="user-rewards-list-footer-holder">
         <div id="userRewardsAwardFooter">
            <span id="lblRecordsFound">0</span> Records Found. <span id="lblDisplayRecordCount"></span>
         </div>
      </div>
   </div>
</div>