<div class="user-awarded-points_table">
   <div class="table-topper">
      <h3>User Awarded Points</h3>
      <button id="btnUserAwardedPointsRefresh" class="button btn"><i class="fa fa-refresh"></i></button>
   </div>
   <div class="user-awarded-points-item-header-holder">
      <div class="user-awarded-points-list-item-row header-item">
         <div class="user-awarded-points-list-item header-item award-on-date">Award On</div>
         <div class="user-awarded-points-list-item header-item award-quantity">Quantity</div>
         <div class="user-awarded-points-list-item header-item award-points">Points</div>
         <div class="user-awarded-points-list-item header-item award-for-big">Award For</div>
      </div>
   </div>
   <div class="user-awarded-points-item-body-holder">
      <div id="userAwardedItemsPointsList"></div>
   </div>
   <div class="user-awarded-points-item-footer-holder">
      <span id="lblUserAwardPointsRecordsFound"></span> Records Found.
   </div>
</div>
<br>